[2020-09-29 21:31] edwardhartnett opened #22 "Add doxygen documentation"
As described here:
https://github.com/NOAA-EMC/NCEPLIBS/issues/121

[2020-10-01 18:53] edwardhartnett opened #23 "Change library to call g2c code where possible"
THis is under discussion, but not resolve. The issue is here so we can record our discussion and decision.

See https://github.com/NOAA-EMC/NCEPLIBS/issues/127

[2020-10-06 14:45] edwardhartnett opened #24 "Remove pFUnit and run tests by default"

[2020-10-06 14:46] edwardhartnett opened #25 "Update README"
Update README. See https://github.com/NOAA-EMC/NCEPLIBS/issues/120

[2020-10-06 14:47] edwardhartnett opened #26 "Add tests"
Our CI testing does literally nothing for this project. So the good news is, it won't be hard to make it better! ;-)

[2020-10-06 18:38] #24 closed, assigned to nobody

[2020-10-08 18:33] #25 closed, assigned to nobody

[2020-10-20 12:05] #22 closed, assigned to nobody

[2020-10-21 20:19] edwardhartnett opened #31 "Doxygen warnings about user_guide.md"
[code]

[2020-10-21 20:37] #31 closed, assigned to edwardhartnett

[2020-10-23 13:00] edwardhartnett opened #33 "Add branch protections for develop branch"
See https://github.com/NOAA-EMC/NCEPLIBS/issues/154

[2020-10-23 13:00] edwardhartnett commented on #33
I have turned on these protections. @BoiVuong-NOAA take note...

[2020-10-23 13:00] #33 closed, assigned to edwardhartnett

[2020-10-27 12:37] edwardhartnett commented on #23
This may happen, but not yet. ;-)

[2020-10-27 12:39] edwardhartnett opened #34 "merge in NCEPLIBS-g2tmpl"
See https://github.com/NOAA-EMC/NCEPLIBS/issues/127

[2020-10-29 12:23] edwardhartnett opened #35 "identify areas for test improvement"
Please identify what tests will be written first.

Since we currently have no tests, this should be easy. ;-) Just pick something easy to start with...

@BoiVuong-NOAA please take a look at this and identify where we should start writing tests.

[2020-10-29 12:39] BoiVuong-NOAA commented on #35
When should we combine the code from g2tmpl into g2 from nceplibs ?  Then, we start writing test.

[2020-10-29 13:57] edwardhartnett commented on #35
Let us start with some tests, then combine the codes. ;-)

[2020-11-03 21:08] edwardhartnett commented on #35
First step is to get some small data files (<50 MB) and check them into the repo under the test directory. If we get too many or they get to big we can use FTP site. @BoiVuong-NOAA will start on this in ~2 weeks.

[2020-11-03 21:11] edwardhartnett opened #36 "Need to make correction for opening file larger than 2 GB"
Need to make correction for opening file larger than 2 GB.

[2020-11-17 10:43] edwardhartnett commented on #35
@BoiVuong-NOAA any progress here?

[2020-11-17 12:03] BoiVuong-NOAA commented on #35
No progress in G2. I am still working in util_shared and submit RFC to NCO by the end of this week.

[2020-11-17 12:25] edwardhartnett commented on #35
What is util_shared? That's a new one to me. ;-)

[2020-11-24 17:07] edwardhartnett opened #37 "Add NCEP GRIB2 site to README"
Add NCEP GRIB2 site to README

[2020-11-24 17:22] #37 closed, assigned to edwardhartnett

[2020-12-04 14:52] kgerheiser opened #39 "Install to CMAKE_INSTALL_DIRs"
https://github.com/NOAA-EMC/NCEPLIBS/issues/36

[2020-12-04 15:26] #39 closed, assigned to kgerheiser

[2020-12-04 21:11] kgerheiser opened #41 "Config not installed at CMAKE_INSTALL_LIBDIR"
The library was changed, but not the CMake config.

[2020-12-04 21:20] #41 closed, assigned to kgerheiser, climbfuji

[2021-04-22 16:07] kgerheiser opened #43 "Incorrect version in VERSION file"
3.4.0 should be 3.4.1

[2021-04-22 16:14] #43 closed, assigned to kgerheiser

[2021-04-22 16:19] edwardhartnett opened #45 "need to require a specific minimum jasper version in cmake (and it's version 2.0.25)"
We need to require a specific jasper version.

[2021-04-22 16:49] kgerheiser commented on #45
Do it need to require a specific version or can it be a range? I looked at the history and the bug appears in Jasper 1.900.19 (2016), and was fixed in 2.0.25, and it only happens with the Intel compiler.

Should it be a more customized check like if Jasper is a broken version and if using Intel?

In addition, there should be a test in g2 that fails when using a broken version of Jasper.

[2021-04-22 17:53] edwardhartnett commented on #45
We can supply a range, a specific version, or a minimum version. I think we want to supply a minimum version usually.

Yes we can also add specific checks for known problem combinations.

As for the test, that would normally be true, but since we have no tests I think it's expecting too much. However, if you have an easy test, we can use some for this repo.

[2021-04-26 18:31] BoiVuong-NOAA opened #46 "PNG bit_depth"
The WMO grib2 standard allows png compressed files to have a bit_depth
of 1, 2, 4, 8, 16, 24 and 32.   G2clib and most likely g2lib only allow
bit depths of 8, 16, 24 and 32.  I just fixed wgrib2 to support all the WMO
allowed bit depths.

   This problem was discovered because DoD is using png to store turbulence
because of the good compression.

[2021-04-26 18:34] BoiVuong-NOAA commented on #36
Hi Ed,
I am unable to solve in G2 library for opening file larger than 2 GB. Please re-assign to someone in nceplibs team.

[2021-05-11 15:21] edwardhartnett commented on #36
The test code should create a file larger than 2 GB and then try to open it.

[2021-05-11 15:25] edwardhartnett opened #47 "need to update based on WMO documentation"
need to update based on WMO documentation

[2021-05-12 16:13] edwardhartnett opened #48 "Add spack configuration file for next release"
Add spack configuration file for next release

[2021-05-14 18:10] kgerheiser opened #49 "Repeat declarations of getidx causes bug"
There are two files: `getidx.f` and `getidxes.f`

And they both declare the same subroutine `getidx`, which are nearly exactly the same.

However, this line is different between them:

https://github.com/NOAA-EMC/NCEPLIBS-g2/blob/25457ac15b6ee80adc2308d598ac9c40028c6001/src/getidxes.f#L95

and

https://github.com/NOAA-EMC/NCEPLIBS-g2/blob/25457ac15b6ee80adc2308d598ac9c40028c6001/src/getidx.f#L98

[2021-05-14 18:40] BoiVuong-NOAA commented on #49
Kyle,
The getidx.f is currently in-use in calling routines in g2 library.  We can get it off getidxes.f, if we have a chance.
I think it is not a bug in getidx.f in NOAA-EMC/hps-statck#212.   User can not use the same unit file number for opening the same file for multiple times.  Each file must have their own unit file number.
Thanks,
Boi

[2021-05-14 18:44] kgerheiser commented on #49
Is using the same file number the issue here? Is that where `lugb` comes from? In the test case I was given `lugb` equals 201, so the check against ` > 100` fails and throws an error, while if you compare to 9999 it works.

Is the comparison of `> 100` or `> 9999` correct?

[2021-05-14 18:49] kgerheiser commented on #49
I see, it's just a file unit, and it was set to 201, which is allowable in Fortran. I don't think comparing to 100 is correct, and neither is 9999.

Why even do that check? What should be done is an `inquire` to check that it points to an open file instead of some arbitrary number comparison.

[2021-05-14 19:03] BoiVuong-NOAA commented on #49
Kyle,

It checks for > 9999. Because the subroutine is calling getidx not
calling routine getidxes.

On 5/14/2021 2:45 PM, Kyle Gerheiser wrote:

[2021-05-14 19:04] BoiVuong-NOAA commented on #49
Yes, You are correct.

On 5/14/2021 2:50 PM, Kyle Gerheiser wrote:

[2021-05-14 19:06] kgerheiser commented on #49
Should there be a subroutine called `getidxes` because in `getidxes.f` and `getidx.f` the subroutine is called `getidx`.

[2021-05-14 19:12] BoiVuong-NOAA commented on #49
None of routines are calling getidxes.   I left it their in case someone
wants to fall back the old way to use same file for all open a file. 
Now, All of models are opening a file with a new file unit number.

On 5/14/2021 3:06 PM, Kyle Gerheiser wrote:

[2021-05-17 18:03] BijuThomas-NOAA commented on #49
Boi,
When I call the subroutine getgb2, it works fine if LUGB(unit number of the  GRIB data file) <= 100 (thanks to Kyle for pointing this). But if it is >100, I get the error code 96(Error reading index file)

[2021-05-17 18:28] BoiVuong-NOAA commented on #49
Thomas,
What is you unit file number for lugi ? Can you create a test case on Hera ?  I do not have access to Jet.
Thanks,
Boi

[2021-05-17 18:33] BijuThomas-NOAA commented on #49
Boi,
Thanks. lugi is 601. Sure, I can create a test case on Hera.
Biju

[2021-05-17 18:34] kgerheiser commented on #49
`lugi` has no bearing on the bug here. The test case is using a number > 100 for `lugb`.

The problem is that there are two declarations of the subroutine `getidx`. Looks like `getidx` was copied and pasted into `getidxes.f` but the subroutine name was never changed.

https://github.com/NOAA-EMC/NCEPLIBS-g2/blob/25457ac15b6ee80adc2308d598ac9c40028c6001/src/getidxes.f#L2

The version of `getidx` in

[2021-05-17 18:55] BoiVuong-NOAA commented on #49
Thomas,
Kyle is right.  the declaration of getidx in getidxes.f is taking precedence and it only checks if lugb is > 100 instead of 9999.

[2021-05-17 18:56] #49 closed, assigned to kgerheiser

[2021-05-17 18:57] BijuThomas-NOAA commented on #49
Boi,
lugi is 601. Sure, I can create a test case on Hera.
Thanks,

[2021-05-17 18:58] BijuThomas-NOAA commented on #49
Thanks. Please let me know when the g2 is built without getidxes.f

[2021-05-17 18:59] kgerheiser commented on #49
Do you need a new build immediately or can you use the existing version of g2 and a `lugb` < 100 for the time being?

[2021-05-17 19:02] BijuThomas-NOAA commented on #49
We need to use lugb > 100. Right now, we are not using G2 from hpc-stack because of this issue.

[2021-05-17 19:02] BoiVuong-NOAA commented on #49
Thomas,
Just a question for you.  I recalled that it worked on DELL and CRAY with lugb=201. It that right ?

[2021-05-17 19:03] BijuThomas-NOAA commented on #49
No, Same issue on all platforms (Jet, Hera, Dell, and Cray) with G2 from hpc-stack.

[2021-07-05 09:26] edwardhartnett opened #54 "file src/version.inc is unused and can be removed?"
It seems that file src/version.inc is unused and can be removed. True?

[2021-07-05 09:27] edwardhartnett opened #55 "doxygen cleanup needed"
Lot's of doxygen work is needed.

[2021-07-05 09:40] edwardhartnett opened #56 "fix doxygen for src/addfield.f"
Part of #55

[2021-07-05 09:44] edwardhartnett opened #58 "Version number needs to appear in doxygen output"
Version number needs to appear in doxygen output, as in other NCEPLIBS.

[2021-07-05 09:45] edwardhartnett commented on #23
We are going to combine these repos, but first we will add documentation and testing.

[2021-07-05 09:46] edwardhartnett opened #59 "doxyfile needs to be updated and some settings turned on"
Same as https://github.com/NOAA-EMC/NCEPLIBS-w3emc/issues/81.

There are only about 65 files, so if we can do 5 a day, we can have everything done in 3 weeks. I did one today and it took about 10 minutes.

At the suggestion of @arunchawla-NOAA this should be done before the documentation for w3emc.

[2021-07-05 14:45] edwardhartnett opened #60 "add code coverage to CI"
Same as on UFS_UTILS and NCEPLIBS-ncio, we need code coverage analysis.

[2021-07-06 13:16] #56 closed, assigned to edwardhartnett

[2021-07-06 13:22] Hang-Lei-NOAA commented on #54
This will be removed in next PR

[2021-07-06 18:23] edwardhartnett commented on #54
It's OK to do a PR for just this. We don't get charged per PR, so breaking up work into different PRs helps us keep track of what is being done. Also it's fine to have and take some low-hanging fruit. Some issues are hard, some easy, and there's nothing wrong with racking up a win with an easy PR...

[2021-07-06 19:34] #54 closed, assigned to Hang-Lei-NOAA

[2021-07-07 13:24] kgerheiser commented on #48
Spack configuration files don't live in the target library's repo. They are maintained in Spack. I don't think this issue should be part of this repo. We have added NCEPLIBS to Spack in the NCEP fork of Spack.

[2021-07-07 13:24] #48 closed, assigned to Hang-Lei-NOAA

[2021-07-07 19:23] Hang-Lei-NOAA commented on #36
This has been addressed on v3.4.2 and corrected on v3.4.3.
Okay to close.

[2021-07-07 20:57] edwardhartnett commented on #48
OK, makes sense.

[2021-07-07 21:12] kgerheiser opened #63 "Make getidx to match what was in getidxes"
When https://github.com/NOAA-EMC/NCEPLIBS-g2/issues/49 was fixed, the subroutine `getidx` in `getidxesf` was slightly different than what was in `getidx.f`.

Specifically, entries that use the same `lugb` file handle weren't deallocated if it already existed causing an error when the subroutine is called multiple times. `idxlist(lugb)` needs to be checked if it's already allocated and then dealloc

[2021-07-07 21:13] #63 closed, assigned to nobody

[2021-07-09 13:12] #60 closed, assigned to kgerheiser

[2021-07-09 19:56] arunchawla-NOAA commented on #59
@Hang-Lei-NOAA what is the status of this ?

[2021-07-09 20:01] Hang-Lei-NOAA commented on #59
As Ed planned, I am working on a few of codes every days. Now, has done 15
codes, and follow the plan will get all done in a couple weeks.

On Fri, Jul 9, 2021 at 3:56 PM arun chawla ***@***.***> wrote:

[2021-07-09 20:04] arunchawla-NOAA commented on #59
You do not need to wait till all are done before issuing a PR. Sending these in increments will actually help with the PR process as well

[2021-07-09 20:07] Hang-Lei-NOAA commented on #59
Okay, I will test the finished parts and push a PR tonight.

On Fri, Jul 9, 2021 at 4:04 PM arun chawla ***@***.***> wrote:

[2021-07-09 20:07] arunchawla-NOAA commented on #59
While helping the waves team debug grib issues with their decoders we found that some of the documentation that was part of the ip/ip2 libraries probably belongs in g2 libraries. Will probably need to work with @GeorgeGayno-NOAA to ensure that the documentation is both cleaned up and extensive. That can be done after the initial stage though

[2021-07-09 20:13] Hang-Lei-NOAA commented on #59
Thanks, That is a very important message.
I will work with George to make sure that documentation is complete and
accurate.
Once we get all libs done, we will make a full test of all under Ed's
leading.
This won't take long, as we are becoming more and more experienced as we
are doing the documentation work.

On Fri, Jul 9, 2021 at 4:08 PM arun chawla ***@***.***> wrote:

[2021-07-12 18:35] #59 closed, assigned to Hang-Lei-NOAA

[2021-07-12 18:57] GeorgeGayno-NOAA commented on #59
Here is the doxygen generated from the branch: https://www.emc.ncep.noaa.gov/jcsda/ggayno/doxygen/html/index.html

About 10 source code files have doxygen syntax, but no doxygen appears to be generated. Under the ./src directory, should there also be a ./docs subdirectory with a Doxyfile.in file?

[2021-07-12 19:01] Hang-Lei-NOAA commented on #59
Thanks, Looks like the Cmakelist should be adjusted to fix the problem.

On Mon, Jul 12, 2021 at 2:58 PM GeorgeGayno-NOAA ***@***.***>
wrote:

[2021-07-12 19:01] GeorgeGayno-NOAA commented on #59
@Hang-Lei-NOAA Create new branch under your fork for this.

[2021-07-12 19:42] GeorgeGayno-NOAA commented on #59
Never mind. I was building the wrong fork. The doxygen looks ok.

[2021-07-12 19:44] Hang-Lei-NOAA commented on #59
Thanks, I am doing a folk and will test and push back by the end of my work
today.

On Mon, Jul 12, 2021 at 3:42 PM GeorgeGayno-NOAA ***@***.***>
wrote:

[2021-07-13 16:24] edwardhartnett commented on #55
This issue should not be closed until all files have been properly doxygenated.

[2021-07-13 20:48] #58 closed, assigned to Hang-Lei-NOAA

[2021-07-14 20:00] edwardhartnett commented on #55
This should not be closed until all doxygen ghanges are done.

[2021-07-14 20:02] Hang-Lei-NOAA commented on #55
Yes, you are right, I will reopen it after the pull request next time. It
was automatically closed.

On Wed, Jul 14, 2021 at 4:00 PM Edward Hartnett ***@***.***>
wrote:

[2021-07-14 20:07] edwardhartnett commented on #55
When I say "Part of #N" then the issue is not closed. When I say "Fixes #N" the issue is closed...

[2021-07-14 23:10] edwardhartnett opened #73 "update gh-pages branch with newly built documentation"
@Hang-Lei-NOAA do you know how to update the gh-pages branch with newly built documenation?

Normally we only do this when we release a new version, but it's also worth doing from time to time when doing these documentation fixes, because it gets the built documents out there where people can see them.

If you know how to do it, you can do so whenever you like during this documentation campaign (b

[2021-07-14 23:12] Hang-Lei-NOAA commented on #73
Yes, I know that.
I will address it and post it on the web for review.
Then I will change it back to C>
update

On Wed, Jul 14, 2021 at 7:10 PM Edward Hartnett ***@***.***>
wrote:

[2021-07-16 13:40] Hang-Lei-NOAA commented on #55
The system says that you may only linked with maximum 10 pull request.

[2021-07-18 07:48] edwardhartnett opened #81 "Clean up of docs/user_guide.md"
The file docs/user_guide.md is the landing page for the doxygen generated documentation. It contains a high-level description of the library.

The current page is the first pass of converting some legacy documentation, and it needs some more work.

Most importantly, all functions/subroutines need to have "()" added after their name, so that they get hyperlined to the proper subprogram documentatio

[2021-07-26 21:39] Hang-Lei-NOAA commented on #55
All source code in g2 library has been added doxygen docs.
Tested on without warnings.
Shown on
https://hang-lei-noaa.github.io/NCEPLIBS/NCEPLIBS-g2/html/files.html
This issue is finished, closed and continue on other issues.

[2021-07-26 21:39] #55 closed, assigned to Hang-Lei-NOAA

[2021-07-27 05:18] edwardhartnett commented on #55
Nice work @Hang-Lei-NOAA !

[2021-07-27 05:51] edwardhartnett commented on #81
Also somehow the landing page vs. "user guide" page in the generated docs is somehow messed up. We have a nice landing page, but the user guide page is empty.

Instead, we either want the "user guide" to disappear from the list of pages, and just have the landing page be the user guide page...

[2021-07-27 06:16] edwardhartnett opened #99 "Add document "GRIB2 conversion and its usage at NCEP""
I found this slideshow on the interwebs. We can add it to the docs section and reference it in the README.

GRIB2 conversion and
its usage at NCEP
Dr. V. KRISHNA KUMAR &
STEPHEN A GILBERT

[2021-07-27 13:21] Hang-Lei-NOAA commented on #81
User guide shown in list of pages has been adjusted.
"user guide" is starting to edit.

On Tue, Jul 27, 2021 at 1:52 AM Edward Hartnett ***@***.***>
wrote:

[2021-07-27 13:22] #99 closed, assigned to edwardhartnett

[2021-07-27 14:02] edwardhartnett opened #101 "add test like the gf2c tst_decode.c"
As discussed in email, we have a new test in g2c, tst_decode.c. A fortran translation of this test should be added to g2.

[2021-07-29 17:42] #81 closed, assigned to edwardhartnett, Hang-Lei-NOAA

[2021-08-30 21:53] kgerheiser opened #104 "g2 performance degradation"
There are reports of g2's performance with between versions 3.1 and 3.4.

There have been few actual code changes so I suspect it's this commit which removes the `save` attribute and deallocates/re-allocates an array if it's already already allocated.

https://github.com/NOAA-EMC/NCEPLIBS-g2/commit/c51c8f0cf2beaa574eecf2e2bbbfaa990c2406f4

https://github.com/NOAA-EMC/NCEPLIBS-g2/pull/52

[2021-08-31 13:56] kgerheiser commented on #104
@BoiVuong-NOAA can you comment on this?

In the PR you thought it wouldn't result in performance issues.

https://github.com/NOAA-EMC/NCEPLIBS-g2/pull/52#issuecomment-856186552

How can we fix the performance issue while also allowing re-used `LUGB` values? Is that possible? I think they're mutually exclusive. In that case, what behavior is correct?

[2021-08-31 14:10] kgerheiser commented on #104
@BoiVuong-NOAA can you comment in this issue here?

What about this line?

https://github.com/NOAA-EMC/NCEPLIBS-g2/blob/7e78071c76e23132acf1d5dd75d0250953bd6a25/src/getidx.f#L101

[2021-08-31 14:15] BoiVuong-NOAA commented on #104
Kyle,

We can to use that line without SAVE.  You need to test with Scott's
test case and another test case with same unit file number.

On 8/31/2021 10:10 AM, Kyle Gerheiser wrote:

[2021-08-31 19:01] BijuThomas-NOAA commented on #104
@kgerheiser,
Let me know if you want to do a test with our code

[2021-08-31 19:11] kgerheiser commented on #104
@BijuThomas-NOAA just saw this after sending you an email. Yes, I would like to try this out.

[2021-09-01 13:22] BijuThomas-NOAA commented on #104
@kgerheiser, My tests with the HAFS system on Orion is successful with the g2 build in /home/gkyle/NCEPLIBS-g2/build/install
Thanks,

[2021-09-01 13:36] kgerheiser opened #106 "Create a release"
Need a 3.4.4 release for #105 which fixed a slowdown in g2 when reading files.

[2021-09-01 15:39] kgerheiser commented on #106
Done

[2021-09-01 15:39] #106 closed, assigned to nobody

[2021-09-01 15:39] kgerheiser commented on #73
Did this as part of the release.

[2021-09-01 15:39] #73 closed, assigned to Hang-Lei-NOAA

[2021-09-03 16:54] kgerheiser commented on #36
Hang this was not related to v3.4.2 which was for opening file units > 100.

[2021-09-07 14:15] kgerheiser commented on #36
What I've gathered is that there is an integer that's overflowing somewhere and it needs to be changed to 64-bit. Gfortran has the flag `-ftrapv` which is supposed to catch integer overflow. g2 could be compiled with that and then run a > 2GB file through g2 to see where the overflow occurs.

[2021-09-07 19:57] kgerheiser commented on #104
Unfortunately, there was a mixup in the libraries used in testing, and the actual culprit is:

https://github.com/NOAA-EMC/NCEPLIBS-g2/blob/4a45dbf1a083b0d0d441678e1058a199fc03c7d0/src/getidx.f#L101

This block will have to be removed so that the index isn't regenerated every time. The performance penalty is too large.

@BijuThomas-NOAA  this will break your code where you repeat `LUGB`, but see t

[2021-09-07 20:04] BoiVuong-NOAA commented on #104
User can use new unit file number for each time open grib2 file.

[2021-09-07 20:44] #104 closed, assigned to nobody

[2021-09-08 16:04] kgerheiser commented on #36
https://github.com/NOAA-EMC/NCEPLIBS-g2/blob/e184a5d375507840b3935cc1affb84e57d8fdb33/src/skgb.f#L32

I was able to get DEGRIB2 to work after changing the integers here to int64. There's more, and anything that deals with byte counts needs to be made int64.

[2021-09-08 17:16] kgerheiser opened #109 "Create a release 3.4.5"
NCO needs a 3.4.5 release for WCOSS2.

There was a mixup while testing the performance bug and the fix from v3.4.4 did not actually fix it, but #108 did.

[2021-09-17 13:37] #109 closed, assigned to kgerheiser

[2021-09-18 15:48] edwardhartnett opened #111 "update spack package file with latest release of g2"
update spack package file with latest release of g2:
https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/g2/package.py

[2021-09-21 09:35] edwardhartnett opened #112 "Built docs should show version number"
Version number should be in built docs.

[2021-09-23 15:12] edwardhartnett opened #114 "Write test that encodes several values, then decodes them and checks for correctness"
Part of #26

Write test that encodes several values, then decodes them and checks for correctness. Use existing empty test.

[2021-09-28 13:39] edwardhartnett commented on #23
The argument for combining these repos is actually pretty weak. I believe we will have to move forward with both a C and a Fortran implementation for some time to come. I will close this issue.

[2021-09-28 13:40] edwardhartnett commented on #47
I have no idea what this issue means. ;-) @Hang-Lei-NOAA do you?

[2021-09-28 13:41] edwardhartnett opened #116 "Update README"
Some updates to readme would be helpful, including pointers to other projects.

[2021-09-28 13:47] edwardhartnett opened #118 "Doxygen warnings"
There are some doxygen warnings:

[code]

After changing back to doxygen 1.8.17 as is used on the CI system, I get these instead:

[code]

[2021-09-28 13:49] edwardhartnett opened #119 "Turn on doxygen WARN_AS_ERROR flag to catch doxygen warnings in CI"
Turn on doxygen WARN_AS_ERROR flag to catch doxygen warnings in CI.

This can be done when warnings are all cleared.

[2021-09-28 13:51] edwardhartnett opened #120 "Doxyfile.in needs to be updated to new version"
The doxygen -u command updates the Doxyfile.in.

[2021-09-28 14:01] edwardhartnett opened #122 "Need to add --output-on-failure to ctest in CI runs"
ctest --output-on-failure is a lot more useful than just ctest...

[2021-09-28 14:06] Hang-Lei-NOAA commented on #47
This means that once there is WMO update, we have to update the library.

On Tue, Sep 28, 2021 at 9:41 AM Edward Hartnett ***@***.***>
wrote:

[2021-09-28 14:26] #116 closed, assigned to edwardhartnett

[2021-09-28 14:31] edwardhartnett commented on #47
And has there been a WMO update? If so, where do we get the info?

[2021-09-28 14:35] #112 closed, assigned to edwardhartnett

[2021-09-28 14:35] #120 closed, assigned to edwardhartnett

[2021-09-28 14:35] #122 closed, assigned to edwardhartnett

[2021-09-28 14:41] edwardhartnett opened #123 "Stray (and incorrect) version string in library"
In file gribmod.f I see:

`      character(len=12) :: G2_VERSION="g2lib-3.1.0"
`

This is not good...

[2021-09-28 14:46] edwardhartnett opened #124 "doxygen problems in drstemplates.f"
in drstemplates.f we have some problems. As in the example below, there are two doxygen docblocks where there should be just one for each function.

[code]

[2021-09-28 14:58] edwardhartnett opened #126 "Turn on doxygen features REFERENCED_BY_RELATION and REFERENCES_RELATION"
These two features are off by default in the doxyfile.in, but are good features.

They show a list of what functions call the documented function, and what functions the documented function calls. We should turn them on.

[2021-09-28 15:09] edwardhartnett commented on #111
This has been done.

[2021-09-28 15:09] #111 closed, assigned to edwardhartnett

[2021-09-28 15:12] edwardhartnett commented on #45
In this case, let's require jasper 2.0.25. Would that work? That's what we install with hpc-stack right now.

@kgerheiser any thoughts?

[2021-09-28 15:13] Hang-Lei-NOAA commented on #47
Usually, after some time (uncertainty), WMO may change/ modify some code
(used for recording weather).
When operations use the observation data, they will notice that and ask us
to update it.

On Tue, Sep 28, 2021 at 10:31 AM Edward Hartnett ***@***.***>
wrote:

[2021-09-28 15:14] edwardhartnett commented on #34
This is going to happen after a bunch of tests have been added. We will revisit in the future...

[2021-09-28 15:17] edwardhartnett commented on #47
OK, so is there a current update pending?

[2021-09-28 15:17] #118 closed, assigned to edwardhartnett

[2021-09-28 15:17] #124 closed, assigned to edwardhartnett

[2021-09-28 15:17] #126 closed, assigned to edwardhartnett

[2021-09-28 15:18] edwardhartnett commented on #119
Fixed by #125

[2021-09-28 15:18] #119 closed, assigned to edwardhartnett

[2021-09-28 15:19] Hang-Lei-NOAA commented on #47
No

On Tue, Sep 28, 2021 at 11:17 AM Edward Hartnett ***@***.***>
wrote:

[2021-09-28 15:30] edwardhartnett commented on #47
OK, I'll close this issue, and we'll open one when we have something to do...

[2021-09-28 15:30] #47 closed, assigned to Hang-Lei-NOAA

[2021-09-28 15:59] edwardhartnett commented on #123
Well I guess the only sensible thing to do here is to create a gribmod.f.in and have CMake create gribmod.f at build time, with the version from the VERSION file.

That way, this will never be wrong...

[2021-09-28 20:34] kgerheiser opened #128 "tocgrib2super fails with "GETGB2P: ERROR REQUEST NOT FOUND""
[code]

[2021-09-28 20:36] #128 closed, assigned to nobody

[2021-09-29 17:41] edwardhartnett commented on #26
@Hang-Lei-NOAA and @BoiVuong-NOAA are there any GRIB2 files we can use as samples for tests? That is, some actual data files that are hopefully not too large?

[2021-09-29 18:46] BoiVuong-NOAA commented on #26
I create a grib2 file which it has 70 records for testing.  The file size is  52MB
The location is /gpfs/dell2/ptmp/Boi.Vuong/output/for_Ed on MARS

[2021-09-29 19:00] edwardhartnett commented on #26
How do you create the file? You have some code to do that?

[2021-09-29 19:09] BoiVuong-NOAA commented on #26
No, I do not have any code.  I am using WGRIB2 to extract selected fields from GFS grib2 file.
The syntax is following:

$WGRIB2  gfsfile.grib2 | grep -F text_file | $WGRIB2 -i -grib   new_gfsfile.grib2  gfsmaster.grib2
Where:
-gfsfile.grib2   is any gfs grib2 file (0.25,0.5 or 1.0deg)
-text_file        is a file that contains all TMP, HGT, RH,  etc.     Note: The more fields you have, the filesiz

[2021-09-30 12:48] edwardhartnett opened #132 "Doxygen cleanup and improvements still needed..."
Although we have done a good job converting the legacy docs to doxygen, there is still plenty of improvement possible.

Some possible improvements:
* Further formatting cleanup.
* Adding links.
* Expanding acronyms.
* Adding missing punctuation.

While adding tests, we will be pouring over the documentation. That's a good time to improve it.

[2021-09-30 13:45] #123 closed, assigned to edwardhartnett

[2021-10-01 11:36] edwardhartnett opened #139 "Intel builds should be required"
Currently only the GNU builds have to pass to allow a PR to be merged.

The intel builds should be required too.

@kgerheiser note that when adding the Intel build to CI runs, make sure you require it to pass in the repo settings...

[2021-10-01 12:00] edwardhartnett commented on #26
OK, I have found a small GRIB2 file here:
https://nomads.ncep.noaa.gov/pub/data/nccf/com/gfs/prod/gdas.20210922/00/wave/gridded/

Do we think that NCEPLIBS-g2 will be able to read this file?

My first question is how to feed this to g2_info, which takes a buffer not a filename. Is the idea that I open the file and read the whole file into a buffer before calling g2_info()? Surely that cannot work

[2021-10-01 14:07] edwardhartnett commented on #139
I have turned this on so intel builds are now also required.

[2021-10-01 14:07] #139 closed, assigned to edwardhartnett

[2021-10-02 14:15] edwardhartnett opened #140 "Add address santize to GNU CI builds"
We  get a lot of benefit from simply adding:

-fsantize=address

to the FFLAGS. Memory use is checked and great diagnostic message are printed on errors, which pinpoint the problem. Better than valgrind! ;-)

[2021-10-03 12:31] edwardhartnett opened #141 "delete master branch"
We use the develop branch. Master branch is not needed any more.

[2021-10-03 12:33] edwardhartnett commented on #141
Done.

[2021-10-03 12:33] #141 closed, assigned to edwardhartnett

[2021-10-03 14:46] edwardhartnett opened #143 "add test for function cmplxpack() and cmplxunpack()"
Part of #26

I have added a very simple test for the simpack() function. (See #142.)

We need a similar (or even better) test for cmplxpack(), which also packs data.

[2021-10-03 14:48] edwardhartnett opened #144 "add test for function mkieee() and rdieee()"
Part of #26

The docs say:

[code]

So we need a test that tries this function and checks outputs.

[2021-10-03 14:50] edwardhartnett opened #145 "add test for function specpack() and specupack()"
Part of #26

According to the docs:

[code]

So we need a test that tries this out with some inputs, and then checks the outputs...

[2021-10-03 14:52] edwardhartnett opened #146 "add test for pngpack() and pngunpack()"
Part of #26

The docs say:

[code]

So we can use a test which tries this function and checks outputs.

[2021-10-03 14:54] edwardhartnett opened #147 "add test for code in g2_gbytesc.f"
Part of #26

There are four functions in g2_gbytesc.f that have to do with packing bit strings. We need some tests for these functions.

[2021-10-03 14:56] edwardhartnett opened #148 "write test for addlocal()"
Part of #26

The docs say:

[code]

After I get #130 working, I will take a stab at an addlocal() test.

[2021-10-03 14:57] edwardhartnett commented on #35
OK, we have identified some test opportunities: #148 #147 #146 #145 #144 #143

[2021-10-03 14:57] #35 closed, assigned to edwardhartnett, Hang-Lei-NOAA

[2021-10-04 18:00] edwardhartnett opened #151 "Code files should all have .f90 (or .F90) extension instead of .f"
All the code files have a .f extension. Yet they use F90 features.

The compilers are mostly OK with this because they just ignore the extension. But it is confusing and also confuses doxygen.

The simplest answer would be to rename each file to a .f90 extension.

@Hang-Lei-NOAA @BrianCurtis-NOAA @kgerheiser any objections to this?

[2021-10-04 18:02] Hang-Lei-NOAA commented on #151
There are some codes using F77 standard

On Mon, Oct 4, 2021 at 2:00 PM Edward Hartnett ***@***.***>
wrote:

[2021-10-04 19:04] edwardhartnett commented on #151
F77 is valid F90, but F90 is not valid F77.

So we can rename all the files to .F90, or leave the F77 ones .f.

[2021-10-04 19:06] kgerheiser commented on #151
It's not a matter of whether they use Fortran 90/77 features. It's fixed formatting vs. free-formatting. You couldn't just re-name them without changing the formatting or adding a compiler option.

[2021-10-04 21:35] #140 closed, assigned to edwardhartnett

[2021-10-05 11:58] edwardhartnett opened #154 "Function baread() from bacio is called from src/getgb2r.f, but bacio is neither found nor linked..."
In subroutine GETGB2R() there are calls to the bacio library:

For example note the calls to BAREAD() around line 206:

[code]

This seems to indicate that this subroutine is never used anywhere. If so, we should drop it...

@BoiVuong-NOAA and @Hang-Lei-NOAA do you know anything about this? Was there a past dependency on bacio? Is the subroutine GETGB2R() expected to work by anyone?

[2021-10-05 12:12] BoiVuong-NOAA commented on #154
I do not know it has used anywhere.

[2021-10-05 12:15] edwardhartnett commented on #154
@kgerheiser do you know anything about dependency of g2 on bacio?

[2021-10-05 12:17] edwardhartnett commented on #154
I thought this meant that this subroutine is never used anywhere (because otherwise the user would get link errors). But I think it could still work as part of a program that also linked to the bacio library in some other way. So I suspect this means we need to add a check for the bacio library to the g2 CMakeLists file...

[2021-10-05 12:27] Hang-Lei-NOAA commented on #154
I think we should try to drop it. The extra dependency should be reduced.

On Tue, Oct 5, 2021 at 8:17 AM Edward Hartnett ***@***.***>
wrote:

[2021-10-05 15:20] edwardhartnett commented on #154
It was removed here: https://github.com/NOAA-EMC/NCEPLIBS-g2/pull/14

No reason given. But apparently it should not have been removed.

I don't see how we can just drop this function. It could be very important...

[2021-10-05 15:32] edwardhartnett opened #155 "Do we know users of NCEPLIBS-g2?"
What other applications or libraries at NOAA use NCEPLIBS-g2?

I will document them in the README...

[2021-10-05 15:43] kgerheiser commented on #154
That does seem to be incorrect behavior

Went through some old emails to find history.

`find_package(bacio)` was added and then @BoiVuong-NOAA had some issues building and told me g2 didn't require g2.

[code]

Interestingly, though, we've had g2 without bacio for over a year, and it has been installed on WCOSS2 with everyone testing their applications for production, and it hasn't come up...

[2021-10-05 15:46] edwardhartnett commented on #154
I would feel better if I had some idea of what applications are using g2. See #155 . Please contribute answers if you know...

[2021-10-05 15:48] edwardhartnett commented on #154
Seems to be a fair amount of code involved here. It seems to be all the code relating to reading and writing something called "index files."

Here's a find/grep of baread calls:

[code]

Is the idea that all of this code can be removed?

[2021-10-05 15:51] BoiVuong-NOAA commented on #154
I did not recall that g2 did notrequire bacio, w3emc and wnco libraries.

[2021-10-05 15:56] kgerheiser commented on #155
g2 is used in a lot of places. Went through some interactions I've had in regards to g2:

UFS_UTILS, WW3, hwrf, global_workflow (maybe for UFS_UTILS?), UPP, and MDL.

[2021-10-05 15:56] BoiVuong-NOAA commented on #154
All models in production are using G2 to read and write grib2 files in post processing.

[2021-10-05 16:04] Hang-Lei-NOAA commented on #155
UPP is the main.

On Tue, Oct 5, 2021 at 11:57 AM Kyle Gerheiser ***@***.***>
wrote:

[2021-10-05 16:04] kgerheiser commented on #154
But it's also possible they already link to bacio and they don't use CMake to find dependencies.

[2021-10-05 16:05] Hang-Lei-NOAA commented on #154
Build of grib_util is also using g2 lib

On Tue, Oct 5, 2021 at 11:57 AM Boi Vuong ***@***.***> wrote:

[2021-10-05 16:06] edwardhartnett commented on #154
@BoiVuong-NOAA can you be more specific? When you say all models, what GitHub repos do you mean?

[2021-10-05 16:06] kgerheiser commented on #154
https://github.com/NOAA-EMC/NCEPLIBS-grib_util/blob/develop/CMakeLists.txt

uses bacio

https://github.com/NOAA-EMC/UPP/blob/728bdf04568fb01071834e818cd5a47b92522a9a/CMakeLists.txt#L46

uses bacio

https://github.com/NOAA-EMC/UFS_UTILS/blob/69e009fb6e3547d42385c3e9bd8a2871ebfa137e/CMakeLists.txt#L58

uses bacio

[2021-10-05 16:20] edwardhartnett commented on #155
@kgerheiser is there a GitHub site for HWRF and MDL?

[2021-10-05 16:23] Hang-Lei-NOAA commented on #155
There is a HWRF https://github.com/NCAR/HWRFdev

On Tue, Oct 5, 2021 at 12:21 PM Edward Hartnett ***@***.***>
wrote:

[2021-10-05 16:33] edwardhartnett commented on #154
@BoiVuong-NOAA when I look at ufs-weater-model, I don't see an explicit dependency on NCEPLIBS-g2. (It does depend on UPP however...)

[2021-10-05 16:34] edwardhartnett commented on #154
OK, with all these important user applications using NCEPLIBS-g2, are we really ready to drop a bunch of functions? How do we know that won't break anything?

[2021-10-05 17:48] kgerheiser commented on #154
I think the correct behavior should be to search for bacio. If the libraries ever get interfaces or we use shared libraries the current setup won't work.

[2021-10-05 19:13] #155 closed, assigned to edwardhartnett, Hang-Lei-NOAA, BoiVuong-NOAA

[2021-10-06 14:10] kgerheiser opened #158 "Add option to use OpenJPEG like g2c"
G2C has an option to use OpenJPEG instead of Jasper as its JPEG decoder.

Add this option to g2 as well.

[2021-10-06 14:15] edwardhartnett commented on #154
OK, so I will add bacio back to the CMakeLists.txt file...

[2021-10-06 14:52] #154 closed, assigned to edwardhartnett, Hang-Lei-NOAA, BoiVuong-NOAA

[2021-10-07 21:25] #45 closed, assigned to edwardhartnett

[2021-10-20 13:32] edwardhartnett opened #162 "Add test workflow with last released version of bacio (2.4.1)."
We have testing with the develop branch of bacio.

Bacio just went through a large refactor and I also want to test against the last released version of bacio. If there are different results between the develop and last released bacio results, that's a bug in bacio.

[2021-10-20 13:43] edwardhartnett opened #164 "Adjust cmake build to use bacio develop branch, which no long users _4 in the library or include directory name"
Adjust cmake build to use bacio develop branch, which no long users _4 in the library or include directory name.

This is necessary because of this PR on bacio: https://github.com/NOAA-EMC/NCEPLIBS-bacio/pull/100

[2021-10-20 16:40] edwardhartnett opened #165 "CMake build needs to cope with name change in bacio library starting with version 2.5.0"
CMake build needs to cope with name change in bacio library starting with version 2.5.0

[2021-10-21 17:34] #162 closed, assigned to edwardhartnett

[2021-10-21 17:34] #165 closed, assigned to edwardhartnett

[2021-10-23 13:11] edwardhartnett commented on #164
This is now working.

[2021-10-23 13:11] #164 closed, assigned to edwardhartnett

[2021-10-23 14:13] edwardhartnett commented on #147
I really don't understand this function. This code:

[code]

Results in:

[code]

So how is this packing? Everything is just zeros!

[2021-10-25 14:27] Hang-Lei-NOAA commented on #147
Read from the subroutine it calls, G2_SBYTESC
The in5 is read by the unit of 8 bits

[2021-11-01 11:29] edwardhartnett opened #169 "C files enc_png, enc_jpeg2000, dec_png, dec_jpeg2000 are already in g2c and are copied here"
We have apparently copied some C files from the g2c project into the g2 project. Of course this is not the correct way to handle the need for this functionality.

Duplicated code leads to preventable bugs, increased maintenance costs, developer confusion, and higher project risks. We will not engage in such hacks with NCEPLIBS.

So instead, we need to have NCEPLIBS-g2 depend on g2c, and call the a

[2021-11-08 13:03] edwardhartnett opened #170 "Improve code coverage report, check for warnings, upgrade jasper in CI build, and add macos to the CI builds"
Improve code coverage report, check for warnings, upgrade jasper in CI build. Also add MacOS.

[2021-11-08 18:45] BoCui-NOAA opened #172 "gf_free function change g2/v3.4.1 vs. g2/v2.5.0"
@YanLuo-NOAA @JiayiPeng-NOAA @arunchawla-NOAA
Compare the two gf_free routines, g2/v2.5.0 vs. g2/v3.4.1 .   The old gf_free use to nullify a pointer and the newer one deallocates it.  Such a change will cause the segmentation fault error for some programs after "call gf_free(gfld).

Here is  an example,  after  "saving" gfld pointer to gfldo then  go to free gfld. It is actually "deallocating" the

[2021-11-08 19:31] arunchawla-NOAA commented on #172
@Hang-Lei-NOAA @kgerheiser and @edwardhartnett

This issue is blocking NAEFS transition. Can you help ?

@BoCui-NOAA can you also point to an example where you are trying to use this ?

[2021-11-08 19:43] BoCui-NOAA commented on #172
I copied the source code, data input and build.ver in one directoryon Cactus:
/lfs/h2/emc/vpppg/noscrub/Bo.Cui/test_gefs_bias_gen

Just type "build.sh WCOSS2", it will compile code and run the executable.

[2021-11-08 19:45] kgerheiser commented on #172
Have you tried g2 v3.4.5 (I believe it's available on Cactus). There were some problems with `getidx`, which sounds related to this.

[2021-11-08 19:45] BoCui-NOAA commented on #172
The code on Cray are saved at Luna:

/gpfs/hps3/ptmp/Bo.Cui/test_gefs_bias_gen

To build the executable, please type

./build.sh WCOSS_C

The g2 lib used is: /gpfs/hps/nco/ops/nwprod/lib/modulefiles/g2-intel/2.5.0

[2021-11-08 19:45] edwardhartnett commented on #172
So you want gf_free to just nullify the pointer?

Then how will the memory be deallocated?

[2021-11-08 19:47] arunchawla-NOAA commented on #172
I am trying to understand the use case for moving to a different pointer and then trying to free the memory. Am I missing something here ?

[2021-11-08 19:48] BoCui-NOAA commented on #172
I tried all the 3 versions available, didn't work.

[2021-11-08 19:50] edwardhartnett commented on #172
Well here is the code from gf_free:

[code]

[2021-11-08 19:54] edwardhartnett commented on #172
OK, first thing to note is that the remaining nullify() call is incorrect, as it refers to disassociated pointer, and it should only be used on pointers have been associated, according to the docs.

Also it is unneeded, as deallocate will also nullify the pointer.

But if we change it back to just nullify, the memory will leak. Which seems like it's contrary to the name of this function. ;-)

[2021-11-08 19:55] kgerheiser commented on #172
Hmm, ok maybe not related to `getidx`. But @edwardhartnett's interpretation seems correct. I would expect a `_free` function to free up the memory (deallocate). Are you calling `gf_free` yourself, or is it being called internally?

[2021-11-08 19:57] arunchawla-NOAA commented on #172
@BoCui-NOAA can you point to the NAEFS repo where the error is happening ?

[2021-11-08 19:58] BoCui-NOAA commented on #172
https://github.com/NOAA-EMC/NAEFS/blob/develop/sorc/gefs_bias_gen.fd/gefs_bias_gen.f90

line 249

[2021-11-08 20:04] kgerheiser commented on #172
Seems like you shouldn't call `gf_free` until you're actually done using the resources

[2021-11-08 20:05] BoCui-NOAA commented on #172
I am think the solution;

put an if statement around the gf_free (line 249) on that line.  If 2 files are not available then don't call gf_free, because I will use the same pointer for both,then do gf_free(gfldo) and gfld at the end, this is fine.

[2021-11-09 12:01] edwardhartnett opened #173 "Call mova2i_ using ISO Fortran to C api"
There is a C function in mova2i.c:

[code]

We can call this with the Fortran to C ISO layer.

Even better, we can just do this with a Fortran function.

[2021-11-09 14:31] #170 closed, assigned to edwardhartnett

[2021-11-10 15:09] edwardhartnett commented on #23
Now it looks like this will happen...

Consistency is the last refuge of the unimaginative. - Oscar Wilde

[2021-11-12 14:18] BoCui-NOAA commented on #172
After discussing with @YanLuo-NOAA and @JiayiPeng-NOAA, We chose to update our codes to use the new g2 library on WCOSS2. Thank you for your reply and explanation of the new g2 lib routine function.

[2021-11-12 14:28] edwardhartnett opened #175 "Change parameter name in gbyte subroutines to nbits"
As done in the C library.

We have:
[code]

Note the meaning of the NBYTE parameter. It would make a lot more sense to call it NBITS.

[2021-11-12 15:29] #172 closed, assigned to edwardhartnett

[2021-11-12 15:42] edwardhartnett commented on #26
The current state of play: 19%
![image](https://user-images.githubusercontent.com/38856240/141493693-96899666-9be2-4010-9c6c-86cefb3ab6e5.png)

[2021-11-13 12:28] edwardhartnett opened #177 "workflow error in gnu_bacio-2.4.1.yml is preventing it from running"
Invalid workflow file : .github/workflows/gnu_bacio-2.4.1.yml#L5
The workflow is not valid. .github/workflows/gnu_bacio-2.4.1.yml (Line: 5, Col: 3): The identifier 'bacio-2.4.1-build' is invalid. IDs may only contain alphanumeric characters, '_', and '-'. IDs must start with a letter or '_' and and must be less than 100 characters.

[2021-11-13 12:28] edwardhartnett opened #178 "add CI tests for building without PNG, JPEG"
add CI tests for building without PNG, JPEG

[2021-11-14 14:15] edwardhartnett opened #180 "Fix code warnings"
We have some warnings in the code:
[code]

and

[code]

and

[code]

[2021-11-14 14:36] edwardhartnett opened #181 "Fix all code warnings and enforce warning check with CI"
With the -Werror flag, we can forever stop lazy programmers from checking in code with warnings!

But first we must clear up all the warnings in the code. This needs to be done after we have good testing in place.

[2021-11-14 14:42] edwardhartnett commented on #180
Actually I think the last one is a bug in the code.

In g2grids.f we have:

`          type(g2grid),pointer :: prev
`
and

[code]

So I think the warning is correct. If count .ne. 1, then this code will try and use the prev pointer before it has been initialized.

@Hang-Lei-NOAA and @BrianCurtis-NOAA do you concur? What should be done here?

[2021-11-15 14:06] Hang-Lei-NOAA commented on #180
Yes, it looks like the code is working, but not safe.
As the comments indicated, has to make sure previous entry in list.

On Sun, Nov 14, 2021 at 9:42 AM Edward Hartnett ***@***.***>
wrote:

[2021-11-15 15:39] BrianCurtis-NOAA commented on #180
`count` is initialized as 0, then increments before this call, so the first count that reaches here will be 1. I see the warning message isn't there, so what can I assume it's warning us about? We can add a check on the count <=0 to stop if that happens, but will that clear the warning?

[2021-11-15 15:53] edwardhartnett commented on #180
THe warning is that prev may be used before it is initialized...

[2021-11-15 15:59] edwardhartnett opened #184 "addgrid.f calls stop for an error, when it should just return an error code"
In addgrid.f we have:

[code]

Note the stop call. We cannot call stop within the library. Instead, we return an error code and let the caller decide whether or not to call stop.

[2021-11-15 16:23] BrianCurtis-NOAA commented on #180
can we initialize the pointer to `NULL` ?

[2021-11-15 16:31] edwardhartnett commented on #180
That would eliminate the warning, but if that code path is ever followed, it will attempt to dereference a null pointer. Which is also not right.

The question is: how do we write a test so that count = 2?

Once we have that test, we can decide how to fix the code...

Or is it the case that count can never be anything other than 1?

[2021-11-15 16:45] BrianCurtis-NOAA commented on #180
count will always be 1 when it first hits that section. I've tried thinking of ways to make it not 1 when it first hits that section and i can not.

[2021-11-15 19:06] #184 closed, assigned to edwardhartnett

[2021-11-15 19:06] #177 closed, assigned to edwardhartnett

[2021-11-16 10:34] edwardhartnett opened #186 "make code more readable by adding spaces"
We have code like this:

[code]

Spacesareimportantfortheeyetobeabletoeasilyseparatesymbols.It'spossibletoreadtextwithoutspaces,butit'sharderandtakesmoreeffort.Wewantourcodetobereadable.

So we should use spaces in the normal manner.

[2021-11-17 14:13] edwardhartnett opened #188 "large amounts of duplicate code getfield.f and gf_getfld.f"
In getfield.f we have:

[code]

This file also contains code to unpack sections 3,4,5,6,7.

Then in gf_getfld.f we have:

`      subroutine gf_getfld(cgrib,lcgrib,ifldnum,unpack,expand,gfld,ierr)
`

This seems to be essentially the same code, but using gfld, the gribfied type, instead of intrinsic fortran types.

This is an over 500 line subroutine (including comments) and the unpack subroutines a

[2021-11-17 15:29] edwardhartnett opened #189 "gf_getfld() leaks memory on error"
In gf_getfld() we have:
[code]

The gf_unpack1() function allocates an array in gfld. If the function later exits, this memory is not freed and causes a leak.

The solution is to call gf_free() on gfld before an error exit.

There are a bunch of currently commented-out tests that demonstrate this bug in test_getfield.f90.

[2021-11-17 16:24] edwardhartnett opened #191 "implicit none should be used in every subroutine"
implicit none should be used in every subroutine and all variables should be explicitly declared.

[2021-11-17 17:33] #189 closed, assigned to edwardhartnett

[2021-11-18 15:11] edwardhartnett commented on #180
OK, I have changed that code to:

[code]

[2021-11-19 13:25] #180 closed, assigned to edwardhartnett

[2021-11-24 14:16] BrianCurtis-NOAA opened #193 "compack calculates lcpack incorrectly for a real(8) length 4 fld with '45.0' as last value."
Using the test `test_compack.f90` in `tests` in repo `https://github.com/BrianCurtis-NOAA/NCEPLIBS-g2/tree/test/compack` shows this bug.

Use a different value for the last item in the array causes the test to pass. There may be other values that it fails with but `45.0` specifically causes a failure where lcpack is 3 and not 4.

[2021-11-24 14:20] edwardhartnett commented on #193
You have some commented out test code to demonstrate this? Where is it?

[2021-11-24 14:23] BrianCurtis-NOAA commented on #193
Please look at my first comment. Direct link: https://github.com/BrianCurtis-NOAA/NCEPLIBS-g2/blob/test/compack/tests/test_compack.f90

[2021-11-24 14:28] BrianCurtis-NOAA commented on #193
I will comment out the CMakeLists.txt entry for the PR

[2021-11-24 14:53] BrianCurtis-NOAA commented on #193
This bug is demonstrated in PR #185

[2021-11-24 15:01] BrianCurtis-NOAA opened #195 "jpcpack/unpack has an intermittent error: "A user-provided buffer for jas_stream_memopen cannot be growable.""
There is an intermittent bug (run the test more than 5 times and test should fail at least one) in jpcpack/unpack that is demonstrated in PR #194

Make sure to uncomment out the test in CmakeLists.txt to test.

[code]

[2021-12-09 13:35] edwardhartnett opened #198 "add support for multiple versions of the documentation"
See https://github.com/NOAA-EMC/NCEPLIBS-g2c/issues/126

[2021-12-11 14:49] edwardhartnett commented on #151
The only thing I seem to have to change are the line continuations.

Fixed format likes the continuation line on the second line, like this:

[code]
Whereas F90 likes it at the end of the first line:

[code]

Once I changed all the continuation lines, addfield.f becomes addfield.F90, and compiles and passes all tests.

I'll put up a PR with just that one file change. If we all agree it looks good,

[2021-12-12 14:52] edwardhartnett opened #201 "Recover test code in intmath.F90"
There is some code at the bottom of intmath.F90 like this:

[code]
 Can this be converted into a useful unit test?

[2021-12-13 13:14] edwardhartnett opened #202 "Consistent tabbing for Fortran files"
Having consistent indentation is very helpful for understanding code.

I have run all the files (except reduce.F90 and pack_pg.F90) through the following emacs commands:

M-x indent-region
M-x delete-trailing-whitespace
M-x untabify

[2021-12-13 17:54] #151 closed, assigned to edwardhartnett

[2021-12-14 14:58] #202 closed, assigned to edwardhartnett

[2021-12-16 17:01] edwardhartnett opened #205 "Fix use of PNG in CMake and CI"
See https://github.com/NOAA-EMC/NCEPLIBS-g2c/issues/223

[2021-12-16 17:16] #205 closed, assigned to edwardhartnett

[2021-12-21 05:19] Hang-Lei-NOAA opened #207 "add test for code for gb_info.f90 and gf_getfld.f90"
Need to add tests for gb_info.f90 and gf_getfld.f90
To get full grib2 messages and read out field data.

[2021-12-22 01:37] #101 closed, assigned to Hang-Lei-NOAA

[2021-12-22 01:37] #147 closed, assigned to Hang-Lei-NOAA

[2021-12-22 01:37] #207 closed, assigned to Hang-Lei-NOAA

[2021-12-22 13:53] edwardhartnett commented on #26
After recent tests from @Hang-Lei-NOAA and @BrianCurtis-NOAA were merged, we are now at 37% coverage. Big improvement - almost double since early November, so great work guys.

But keep it up - there are plenty of tests still to write! What this coverage means is 6 out of 10 lines of this crucial software are completely untested. We can and will do better...

![image](https://user-images.githubuse

[2021-12-22 13:54] edwardhartnett commented on #148
This test is pretty good now, with 90% test coverage for addlocal. I will close this issue...

[2021-12-22 13:54] #148 closed, assigned to edwardhartnett

[2021-12-22 13:57] BrianCurtis-NOAA commented on #26
Also the two tests I've added which aren't enabled due to bugs will help that number too.

[2021-12-22 14:01] Hang-Lei-NOAA commented on #26
Hi, Edward,
Please help me understand it. In the decode test, the gb_info.f90 actually
is fully called and all possible outcomes of gb_info could come out if data
is wrong, while the chart only shows 72.5%. How can we understand that? and
what could be added to make it 100%?
Thanks,
Hang

On Wed, Dec 22, 2021 at 8:57 AM Brian Curtis ***@***.***>
wrote:

[2021-12-22 14:14] BrianCurtis-NOAA commented on #26
@Hang-Lei-NOAA If you go download the latest artifact from the build with test coverege (here: https://github.com/NOAA-EMC/NCEPLIBS-g2/actions/runs/1611596368 ) then unzip and double click the .html file you can click through the files. So for gb_info.F90 there are certain sections the test didn't hit that are noted in the red color here:
![Screenshot from 2021-12-22 09-12-39](https://user-images.

[2021-12-22 14:37] edwardhartnett commented on #201
OK, that test code was not worth saving, so I removed it, and added some testing for intmath...

[2021-12-22 15:11] edwardhartnett commented on #26
@Hang-Lei-NOAA if you check out the C tests, you'll see that I had to rerun the code, after deliberately changing the first char in the message, to check cases where it checks for "GRIB" at the beginning of the message. Similarly, I wrote tests where I change the version of the message, then check to see that's caught, etc.

Basically, you have to create the error condition, call the code, and che

[2021-12-22 15:38] #201 closed, assigned to edwardhartnett

[2021-12-22 17:15] Hang-Lei-NOAA commented on #26
Thanks, Brain and Edward.

On Wed, Dec 22, 2021 at 10:12 AM Edward Hartnett ***@***.***>
wrote:

[2021-12-29 04:22] Hang-Lei-NOAA opened #211 "bug fix for g2grid.f90"
The Fortran function defined in this code reports error under GNU compiler.
  integer function readgrids(lunit)

At line 81 of file /home/Hang.Lei/noscrub/docus/feature/unittest1/src/g2grids.F90 (unit = 15, file = 'testdata_g2grids')
Fortran runtime error: Sequential READ or WRITE not allowed after EOF marker, possibly use REWIND or BACKSPACE

Error termination. Backtrace:
#0  0x7f4aed17a5dd in da

[2021-12-29 04:23] Hang-Lei-NOAA opened #212 "add unit test for g2grid.f90"
Add full unit test for g2grid.f90 as part of v 3.5.0 request.

[2021-12-29 04:26] Hang-Lei-NOAA commented on #211
After investigate this issue, it is found that GNU compiler suggestion is reasonable:
In the code: line 81
       read(lunit,end=999,fmt='(a)') cline
However, the 999 line is:
999    readgrids=count

Count actually is the return value. It could not be used as the end of the file.
Correction should be:
999  backspace(lunit)

[2021-12-29 17:59] edwardhartnett commented on #211
Can you rename this issue to something more informative? What is the bug that has been found?

Also, it looks like you also found some memory leaks? Can you please enter an additional issue for that? Memory leaks are important fixes (i.e. worthy of notice by end users) so we need to make sure it's well documented what memory bugs we found and fixed in each release...

[2021-12-29 18:07] Hang-Lei-NOAA commented on #211
Hi, Edward

Okay, I will do.
Bug is easy to fix, but the memory leak is difficult.
The test runs fine on both intel and gnu machines. But ci test under gcc
shows memory leaks.
I am still trying to finger out what the issue it is.

Thanks,
Hang

On Wed, Dec 29, 2021 at 12:59 PM Edward Hartnett ***@***.***>
wrote:

[2022-01-11 21:25] BrianCurtis-NOAA commented on #146
This was finished with #157

[2022-01-11 21:25] #146 closed, assigned to BrianCurtis-NOAA

[2022-01-12 19:01] BrianCurtis-NOAA commented on #114
I believe this was created for #157 so this can be closed. Please open if i'm mistaken.

[2022-01-12 19:01] #114 closed, assigned to BrianCurtis-NOAA

[2022-01-24 15:28] edwardhartnett opened #217 "Remove use of bacio library"
The bacio library provides file open/create, read/write, and close operations.

These are all already available in Fortran.

If we convert to pure Fortran for file I/O, we can remove the bacio library dependency.

Used here:

[code]

Also in this subroutine:

SUBROUTINE GETIDX(LUGB,LUGI,CINDEX,NLEN,NNUM,IRET)

Some more:

[code]

The problem is, all the subroutines expect the user to open the file

[2022-01-24 15:30] edwardhartnett opened #218 "doxygen not including fortran code"
Our current doxygen build does not seem to include any of the fortran code!

This is because when we changed the code to *.F90 we didn't update the doxyfile.in.

I will fix...

[2022-01-24 16:02] #218 closed, assigned to edwardhartnett

[2022-01-25 18:45] #211 closed, assigned to Hang-Lei-NOAA

[2022-01-31 20:12] #143 closed, assigned to BrianCurtis-NOAA

[2022-02-02 18:47] #144 closed, assigned to BrianCurtis-NOAA

[2022-02-17 14:17] BrianCurtis-NOAA opened #229 "Add w3emc dependency in support of gdt2gds.F90 which is used by grib_util"
While writing a unit test for the gdt2gds.F90 code, I noticed that it uses w3emc calls for https://github.com/NOAA-EMC/NCEPLIBS-w3emc/blob/develop/src/w3fi71.f and https://github.com/NOAA-EMC/NCEPLIBS-w3emc/blob/develop/src/r63w72.f at the following two locations:

https://github.com/NOAA-EMC/NCEPLIBS-g2/blob/9a52944bb58f77cd6bb88252f00e41f8c98af552/src/gdt2gds.F90#L344

and

https://github.com/NO

[2022-03-21 16:55] Hang-Lei-NOAA opened #235 "SREF-cnvgrib issue associated with g2"
SREF modeling system cannot work with grib_util/v1.2.3. The last version works is grib_util/v1.1.1.
Detailed issue shown is : When use cnvgrib utility to process SREF data, it fails on error message:

 pds2pdtens: Couldn:t construct  PDS Template
  Unrecognized Ensemble type =            0           0           0           0

The direct issue associated with this error is: variable kens is not giv

[2022-03-21 17:00] Hang-Lei-NOAA commented on #235
Testing data kept on hcpss:
/NCEPDEV/emc-global/1year/Hang.Lei/testsref
or on hera
/scratch1/NCEPDEV/global/Hang.Lei/testsref
Testing method:
use the cnvgrib utility to do following command:
./cnvgrib -g12 -p40 sref_arw.t09z.pgrb212.ctl.f00  sref_arw.t09z.pgrb212.ctl.f00.grib2

[2022-03-21 17:44] kgerheiser commented on #235
How do I access the test data?

[2022-03-21 18:06] Hang-Lei-NOAA commented on #235
I add a local access on hera, if this is more convenient.

[2022-03-21 18:09] kgerheiser commented on #235
Where at?

Edit: I see it in your edit

[2022-03-21 18:14] Hang-Lei-NOAA commented on #235
/scratch1/NCEPDEV/global/Hang.Lei/testsref

[2022-03-21 18:35] kgerheiser commented on #235
I am able to reproduce the error on my local machine. Going to dig a little deeper....

[2022-03-21 20:54] kgerheiser commented on #235
And I am able to build the develop branch of grib_util with g2 3.1.1 on Hera, and run it without issue. I should now be able to compare where the difference arises.

[2022-03-22 05:40] kgerheiser commented on #235
Found something very interesting. This is not actually a g2 issue, at least not directly. The issue is comes from `pdseup`.

When called [here](https://github.com/NOAA-EMC/NCEPLIBS-grib_util/blob/cb892edccc14d2f1ce76f9e5aea03ea57a5544d8/src/cnvgrib/cnv12.F90#L130)

`call pdseup(kens, kprob, xprob, kclust, kmembr, ilast, cgribin(9))`

the output of `kens` when using g2 develop is all zeros.

See th

[2022-03-22 13:27] arunchawla-NOAA commented on #235
Nice catch Kyle !

Do we need to have gbytec defined in two places ?

[2022-03-22 14:00] kgerheiser commented on #235
A couple of more things to figure out, mainly why the `gbytec` in w3emc does not work. It seems like this behavior was unintentional. With two of the same functions you don't know which one is going to be picked up at link time. It was probably expected that the w3emc version would be used considering it's in the same library.

I don't know if it makes sense to have this function duplicated. It mi

[2022-03-22 14:12] Hang-Lei-NOAA commented on #235
We do have a lot of libraries that have overlap. It is not good to move the
gbytes into the bacio. Individually working on G2 needs to use it.

We may first address the cnvgrib issue, then can get a clear map for all.
My previous test by closing w3emc did not help. I was even suspecting that
changes in bacio may result in this, since g2 and w3emc are all built with
bacio and error occurs on get gr

[2022-03-22 14:14] arunchawla-NOAA commented on #235
what is the rational for the same code being duplicated in different libraries ?

[2022-03-22 14:24] Hang-Lei-NOAA commented on #235
They are not exactly duplicates. They are different:
In w3 library:
SUBROUTINE GBYTESC(IN,IOUT,ISKIP,NBYTE,NSKIP,N)

In G2 lib:
subroutine g2_gbytesc(in, iout, iskip, nbyte, nskip, n)     (corrected)

On Tue, Mar 22, 2022 at 10:15 AM arun chawla ***@***.***>
wrote:

[2022-03-22 14:25] kgerheiser commented on #235
You are looking at different functions. `gbytes` with an s is different than `gbytec`.

g2 and w3emc already find/link to bacio, so it wouldn't necessitate any other changes. Not saying do it right at this moment, but I think that's the most logical place to put it so that we only have one copy of this code.

But yes, let's find what's happening here and then we can figure out what to do with gbyt

[2022-03-22 14:26] arunchawla-NOAA commented on #235
ok can you create an issue exploring this ?

[2022-03-22 16:04] kgerheiser commented on #235
Narrowed it down a little bit more:

In pdseup, this block is being entered because `ilast` is different.

[code]

Old g2:
[code]

New g2:

[code]

`ilast` is not being filled with the correct value (45) in the new version.

And `ilast` is computed here in a [call to `gbyte` in `cnvgrib12.f`](https://github.com/NOAA-EMC/NCEPLIBS-grib_util/blob/cb892edccc14d2f1ce76f9e5aea03ea57a5544d8/src/cnvgrib/c

[2022-03-22 20:03] kgerheiser commented on #235
Figured out why the results are different. w3emc `gbyte` expects bytes to be packed into 32-bit integers, while g2_gbyte uses `character(len=1) :: bytes(*)` to store the bytes individually, which is what `cnvgrib` passes to the function.

For example, if I pass the hex value` Z'00002D` (45) to w3emc `gbyte` I can extract the same value as passing `[Z'00', Z'00', Z'2D']` to `g2_gbyte`.

The fix is

[2022-03-22 20:24] kgerheiser commented on #235
This is not an error with g2, but with grib_util.

See https://github.com/NOAA-EMC/NCEPLIBS-grib_util/issues/138

[2022-03-22 20:24] #235 closed, assigned to nobody

[2022-03-22 21:18] Hang-Lei-NOAA commented on #235
I test it and confirmed that the change works for SREF.

[2022-04-13 17:51] edwardhartnett opened #236 "on new install, build breaks for newer jasper library"
Recently my hard drive failed and I had to replace it.

This means I am building everything from scratch which is interesting ;-)

I installed jpeg with apt-get, and cmake claims to find what it needs for jpeg:

[code]

Yet when I try to build, it fails on the JPEG library:

[code]

Seems like this is related to changes in the jasper library. See https://github.com/NOAA-EMC/NCEPLIBS-wgrib2/issues/

[2022-04-13 17:55] kgerheiser commented on #236
Can you run a `make VERBOSE=1` so the link line that failed is visible?

[2022-04-13 17:56] edwardhartnett commented on #236
When I build with jasper 2.0.33 I don't get this error. I see on the Jasper page (https://github.com/jasper-software/jasper):

[2022-04-13 17:57] edwardhartnett commented on #236
[code]

[2022-04-13 17:59] edwardhartnett commented on #236
Also, since this is happening in C code copied over from the g2c project, I suspect that g2c will experience this same bug. ;-)

Indeed: https://github.com/NOAA-EMC/NCEPLIBS-g2c/issues/245

[2022-04-13 18:08] kgerheiser commented on #236
I was looking in Jasper and the function `jpc_encode` appears to still be there in v3.0.0.

[2022-05-16 13:10] DusanJovic-NOAA opened #239 "Build fails when g2 project is used as a subdirectory in another project"
When this project is added as a subdirectory in another project, for example:
[code]
build fails.

Fixed in #238

[2022-05-16 13:14] #239 closed, assigned to nobody

[2022-05-17 14:15] MatthewPyle-NOAA commented on #36
I'm also running into issues reading > 2 GB GRIB2 files, so happy to see that this issue is being addressed.  Is there a timeline for version 3.5.0?

[2022-05-30 11:32] edwardhartnett commented on #236
OK, this was caused because jpc_encode() is an internal function of Jasper that's not exported. I have fixed the C library. I think the answer for g2 is to remove the C code and have it depend on the C library for this code. (See #169).

[2022-05-30 14:16] edwardhartnett opened #240 "getting error on build: "bacio::bacio_4" is imported but not globally visible."
[code]

@kgerheiser have you seen this before?

[2022-05-31 12:04] kgerheiser commented on #240
No, I haven't. It's this line from checking the bacio version: https://github.com/NOAA-EMC/NCEPLIBS-g2/blob/a39d798e84e3ca65d8d128da2dd3c1964a5a9731/CMakeLists.txt#L29-L31

Think we need to tack on a `GLOBAL` at the end there. Or bacio should provide that target for bacio 2.4/2.5 instead of the consumer package.

[2022-05-31 12:12] edwardhartnett commented on #240
I'm sorry for my CMake ignorance but I don't understand what you mean by: "Or bacio should provide that target for bacio 2.4/2.5 instead of the consumer package."

Can you elaborate?

Also where would the GLOBAL go and what does it do in this case?

[2022-05-31 13:01] kgerheiser commented on #240
I'm actually not sure what's going on here. My comment about `GLOBAL` was incorrect. The error is saying that the target `bacio::bacio_4` which comes from `find_package(bacio)` and the CMake package config it created is not visible globally. You can provide a `GLOBAL` option to `add_library(lib IMPORTED GLOBAL)` so that the target is visble everywhere, else it's just visible in the current directo

[2022-05-31 13:11] edwardhartnett commented on #240
[code]

[2022-05-31 13:13] kgerheiser commented on #240
Ah, that's it. CMake 3.16 does not support this feature.

https://cmake.org/cmake/help/latest/command/add_library.html#id6

[2022-05-31 13:21] edwardhartnett commented on #240
OK, so I need to update the minimum required CMake in the CMakeLists.txt file at the top level, which currently has:

`cmake_minimum_required(VERSION 3.15)
`

[2022-05-31 13:22] kgerheiser commented on #240
Yes, and I think we put this check in a couple of projects.

[2022-05-31 14:22] edwardhartnett commented on #240
Well I tried to upgrade cmake by upgrading my version of Ubuntu and broke my internet. Sigh...

[2022-05-31 14:23] kgerheiser commented on #240
I would build a new version of CMake or download a binary from https://cmake.org/download/

[2022-06-01 12:46] #240 closed, assigned to edwardhartnett

[2022-06-01 13:16] edwardhartnett commented on #229
OK, this also will then require dependencies on nemsio, sigio, and netCDF. Yikes!

[2022-06-01 13:17] kgerheiser commented on #229
w3emc has no dependency but bacio once gblevents was removed.

[2022-06-01 13:18] edwardhartnett commented on #229
OK, great! I was looking at an older version of w3emc. I will update...

[2022-06-01 13:20] BrianCurtis-NOAA commented on #229
I commented in the closed PR, so i'll add this here too: @kgerheiser So if we have a call in gdt2gds that uses w3emc functions but doesn't add that dep in CMake, would we not be doing things wrong in some way? Should we add a dep on w3emc since g2 hosts that file? Should we move that file somewhere else?

[2022-06-01 13:20] BrianCurtis-NOAA commented on #229
Maybe this file should be where copygb/copygb2 is?

[2022-06-01 13:34] edwardhartnett commented on #229
@BrianCurtis-NOAA I think that would be a good suggestion if we knew for sure that was the only place it is used. But I guess we don't know that. :-(

So I will add the dependency of w3emc. Fortunately due to the good work resolving the glbevents problem, that's easier than it used to be...

[2022-06-06 16:36] edwardhartnett opened #244 "what is the difference between getg2i() and getg2ir()"
We have:

`subroutine getg2ir(lugb, msk1, msk2, mnum, cbuf, nlen, nnum, nmess, iret)
`
and also

`SUBROUTINE GETG2I(LUGI,CBUF,NLEN,NNUM,IRET)
`
They seem to do the same thing. Does anyone know the history here?

@BoiVuong-NOAA @GeorgeGayno-NOAA @Hang-Lei-NOAA can you shed any light on this?

[2022-06-06 16:50] Hang-Lei-NOAA commented on #244
One is for int, one for real.

On Mon, Jun 6, 2022 at 12:37 PM Edward Hartnett ***@***.***>
wrote:

[2022-06-06 16:53] BoiVuong-NOAA commented on #244
I do not know the history of these routines.  However, one (getg2i.f) reads an index file and one (getg2ir.f) creates an index file.

[2022-06-06 17:00] Hang-Lei-NOAA commented on #244
I was reading wrong codes files. But after reading both correct ones.
I think Boi is correct. getg2i.f is much simpler than the other. It just read out the index.

[2022-06-08 13:34] #229 closed, assigned to nobody

[2022-06-28 20:01] GeorgeGayno-NOAA commented on #36
I am also having problems with > 2GB files.  That function must work to support this ufs_utils project - https://github.com/ufs-community/UFS_UTILS/issues/660.  That is a high priority project according to @EricRogers-NOAA.

[2022-06-29 08:45] edwardhartnett commented on #36
@kgerheiser  so in file getg2ir.F90 did you make these variables:
lugb, iseek, msk1, lskip, lgrib

into INTEGER(KIND=8)? Or did you turn all the integers into KIND=8?

[2022-06-29 15:53] kgerheiser commented on #36
I'm trying this again with @GeorgeGayno-NOAA's test case.

[2022-06-29 16:24] GeorgeGayno-NOAA commented on #36
Let me add some diagnostic print so you can see where it breaks.

[2022-07-05 16:27] kgerheiser opened #246 "Missing find_dependency(w3emc)"
The CMake package config should contain `find_dependency(w3emc)`

[2022-07-05 16:43] #246 closed, assigned to nobody

[2022-07-05 18:17] kgerheiser commented on #36
I ran chgres_cube with the GNU `-ftrapv` flag that catches integer overflow and this is the backtrace:

[code]

Which is this call to `baread`:

https://github.com/NOAA-EMC/NCEPLIBS-g2/blob/a8bdf75a632cb2083d5b8b0a8457e7fb0f822feb/src/skgb.F90#L53

And the addition of `KS+K+KG-4` which is the number of bytes to skip.

So, this will also require a change in bacio as well. And anyone that uses these

[2022-07-07 20:12] edwardhartnett commented on #36
What if we add new functions to bacio which handle 64-bit?

[2022-07-07 21:22] kgerheiser commented on #36
Yes, maybe that is a solution. And the 32-bit interface could cast to in64 internally.

[2022-07-15 13:49] edwardhartnett commented on #36
OK, I am looking at bacio. Actually there already is a function bareadl() which handles 64-bit ints:

[code]

So if you just change your call in skgb.F90 to use bareadl() you can pass in your 64-bit arguments.

[2022-07-15 14:10] kgerheiser commented on #36
Thanks @edwardhartnett

[2022-07-15 18:20] edwardhartnett opened #249 "address santizer error in test test_g2grids"
./test_g2grids
 SUCCESS!\n

=================================================================
==36715==ERROR: LeakSanitizer: detected memory leaks

Direct leak of 832 byte(s) in 1 object(s) allocated from:
    #0 0x7f5b5bb45808 in __interceptor_malloc ../../../../src/libsanitizer/asan/asan_malloc_linux.cc:144
    #1 0x561836707f5d in __g2grids_MOD_readgrids /home/ed/NCEPLIBS-g2/src/g2grids.F90:113

[2022-07-15 18:21] edwardhartnett opened #250 "turn on address santizer in CI"
turn on address santizer in CI

[2022-07-15 19:58] edwardhartnett opened #251 "not calculating the correct size of a GRIB2 message in puggb2.F90"
in putgb2.F90, where we have this code:

[code]
And then later:

`call gribcreate(cgrib, lcgrib, listsec0, gfld%idsect, ierr)
`

Well lcgrib is supposed to be enough to hold the entire message, not just the data portion.

How did this ever work? For large data sizes, with compression, this would give a large number, larger than actually needed to store the data. So this code would seem to work for

[2022-07-15 20:17] edwardhartnett commented on #249
OK, the problem here seems to be in g2grids.F90. There is a function, readgrids(), that is called by either getgridbynum() or getgridbyname(), to initialize a linked list of grids. Each element in the linked list is allocated:

[code]
But there is no function to walk the list and deallocate. We need such a function so that tests and calling programs can free all memory and use address santizer in

[2022-07-19 17:19] #251 closed, assigned to edwardhartnett

[2022-07-20 12:56] #249 closed, assigned to edwardhartnett

[2022-07-20 12:56] #250 closed, assigned to edwardhartnett

[2022-07-20 14:21] #175 closed, assigned to edwardhartnett

[2022-07-20 15:31] edwardhartnett opened #254 "Remove unused variables to silence many compiler warnings"
Some of the warnings we don't want to mess with, until we have good testing.

However, unused variable warnings are safe to fix, and we have many.

This is necessary for #181.

[2022-07-20 17:09] #254 closed, assigned to edwardhartnett

[2022-07-21 09:42] edwardhartnett opened #257 "realloc.F90 has real version of function that is never used and can be removed"
From the documentation of realloc.F90:

[code]
But in fact only the integer and character functions are ever used in the code. The real one can be removed.

[2022-07-21 10:40] edwardhartnett opened #259 "many warnings due to constants of the wrong kind in intmath.F90"
In intmath.F90 we have many warnings like this:

cd /home/ed/NCEPLIBS-g2/b/src && /usr/bin/gfortran -DLINUX -D__64BIT__  -g -fno-range-check -funroll-loops -g -Wall -fsanitize=address -ggdb -Wall -Jinclude_d -fdefault-real-8 -c /home/ed/NCEPLIBS-g2/src/intmath.F90 -o CMakeFiles/g2_d_f.dir/intmath.F90.o
/home/ed/NCEPLIBS-g2/src/intmath.F90:216:14:

  216 |     ilog2_2 = 0
      |              1
War

[2022-07-21 10:58] edwardhartnett commented on #178
Actually NCEPLIBS-g2 does not have an option to build without PNG or JPEG. They are required for every build.

[2022-07-21 10:58] #178 closed, assigned to edwardhartnett

[2022-07-21 12:08] #257 closed, assigned to edwardhartnett

[2022-07-21 12:29] #259 closed, assigned to edwardhartnett

[2022-07-21 12:37] #212 closed, assigned to Hang-Lei-NOAA

[2022-07-21 13:26] edwardhartnett opened #263 "Allow build system to get test files from the FTP site"
It's nice to have some GRIB test files to test with, but we don't want to check them into the repo.

So we can borrow a trick from the UFS_UTIL project and have an FTP directory with some test files, and then have CMake fetch the files if they are not already present.

I have two files I'm writing tests around, and I've asked Kate to put them on the FTP site.

[2022-07-21 18:10] #263 closed, assigned to edwardhartnett

[2022-07-22 12:56] edwardhartnett opened #266 "compile warnings for test program test_cmplxpack.f90"
@BrianCurtis-NOAA can you fix these?

I'm trying to turn on automatic warning checking for this repo, but all existing warnings need to be cleared first..

[code]

[2022-07-22 13:00] edwardhartnett commented on #158
I think we will not do this.

Instead, I think we will end up depending on g2c and having it do all the things that require jpeg, and fortran will just call g2c.

[2022-07-22 13:00] #158 closed, assigned to edwardhartnett

[2022-07-22 13:23] BrianCurtis-NOAA commented on #266
@edwardhartnett change fld* `real(kind=8) :: fld_orig(ndpts), fld(ndpts), fld_ina(ndpts), fld_inb(ndpts)` type to complex will fix that warning, but then the test breaks. I'm not sure why cmplxpack.F90 passes real type values between subroutines, but it does and was why I made them real type in the test.

Would it be worth changing cmplxpack.F90 to use type complex for fld() and sifting through th

[2022-07-22 14:16] #244 closed, assigned to edwardhartnett

[2022-07-22 14:16] edwardhartnett commented on #244
OK, thanks for the answers. I am writing tests for these functions...

[2022-07-26 10:46] edwardhartnett opened #270 "Remove unneeded return statements at the end of subprograms"
We have lots of code like this:

[code]

This was required in FORTRAN 66, but has not been required since F77. ;-)

The end subroutine will return from the subroutine. There is no need to put a "return" just before it. Let's remove this historical clutter.

[2022-07-27 12:46] edwardhartnett opened #272 "nullify not called on pointer before use in getgb2p.F90"
The f2003, and later, standards say for
ASSOCIATED (POINTER [,TARGET])

"POINTER ... Its pointer association status shall not be undefined."

So when we use a pointer, and don't nullify it, and then call a line like this:

     if (.not. associated(gribm)) allocate(gribm(leng))

We have a problem. The pointer variable gribm must be nullified before this statement is encountered, or segfault result

[2022-07-27 13:58] edwardhartnett opened #274 "do a 3.5.0 release of NCEPLIBS-g2"
There have been a lot of changes since last release, mostly new tests and documentation improvements, but also some memory fixes. See draft release notes: https://github.com/NOAA-EMC/NCEPLIBS-g2/releases/tag/untagged-ea448f5f68ad39753739

Soon I would like to do some major surgery to the g2 library, taking out the copied C code, and making it depend on g2c. It would be good to do a release first t

[2022-07-27 14:24] #272 closed, assigned to edwardhartnett

[2022-07-28 14:00] #270 closed, assigned to edwardhartnett

[2022-07-28 18:33] edwardhartnett opened #276 "change test names from f90 to F90"
Well we changed the source files to all use F90 instead of f90, but we neglected the tests. So that's confusing.

Let's also change the tests and use F90 everywhere.

[2022-07-28 20:46] edwardhartnett opened #277 "what is GRIB1 w3fi63 format?"
In the documentation of gdt2gds.F90 we say:

`!> @param[out] kgds GRIB1 GDS as described in w3fi63 format.
`

Does anyone know what "w3fi63 format" means? Is this a typo? I can find no such format on google, and if google does not know of something, can that something even exist?

@GeorgeGayno-NOAA do you have any idea what this could be?

[2022-07-28 21:11] BoiVuong-NOAA commented on #277
I think it is  a typo from developer to use the word "format" to describe an array kgds() in routine w3fi63.f in w3nco library.

[2022-07-29 15:13] edwardhartnett commented on #277
OK, thanks for the info. I have updated the docs to reflect this.

[2022-07-29 15:58] edwardhartnett commented on #26
OK we are now at 61%, which is really quite respectable for a Fortran library.

I expect this number to go up a little further when we have stripped out the (untested, in this repo) C code that was copied from g2c.
![Screenshot from 2022-07-29 09-57-12](https://user-images.githubusercontent.com/38856240/181798432-32adf3c4-b831-432c-9df7-da6bf8ac0352.png)

[2022-07-29 18:33] #277 closed, assigned to Hang-Lei-NOAA, BoiVuong-NOAA

[2022-07-30 16:42] edwardhartnett opened #280 "reduce.F90 does not have an end subroutine statement"
reduce.F90 does not have an end subroutine statement

[2022-07-30 19:20] #276 closed, assigned to edwardhartnett

[2022-07-31 12:48] edwardhartnett commented on #280
Yes, it does. ;-)

[2022-07-31 12:48] #280 closed, assigned to edwardhartnett

[2022-07-31 13:28] edwardhartnett commented on #266
I think "complex" does not refer to saving an array of complex numbers. In other words, I think cmplxpack packs floats, not complex.

When I change the original array to floats, the test still works. See #281.

[2022-08-01 14:10] #186 closed, assigned to edwardhartnett

[2022-08-01 14:10] #266 closed, assigned to edwardhartnett, BrianCurtis-NOAA

[2022-08-02 12:45] edwardhartnett opened #283 "What happens when we pass real array instead of int array for second argument of g2_sbytesc()?"
In addfield.F90 we have:

[code]

Note the second argument to the g2_sbytesc() subroutine, coordieee. In addfield.F90 this is an real array:

`  real(4) :: coordieee(numcoord), re00`

However, the g2_sbytesc() function expects an int array:

[code]

When I turn off the -fallow-argument-mismatch flag, I get this error:

[code]

So what happens when g2_bytesc() is called with a real array? And how w

[2022-08-02 13:34] edwardhartnett opened #284 "Set compiler flags at top-level CMake file, so the tests and src directory get the same compiler flags"
Set compiler flags at top-level CMake file, so the tests and src directory get the same compiler flags.

[2022-08-02 13:35] edwardhartnett opened #285 "Remove the -fallow-argument-mismatch flag for GNU"
It would be better if we did not have to use the -fallow-argument-mismatch flag.

[2022-08-02 14:03] edwardhartnett opened #287 "Remove use of mkieee() in IEEE floating point machines"
Currently we have a function called mkieee() which we call in a number of places:

[code]

Back in olden times, there were machines that did not use IEEE floating point. Are there any longer machines that don't use it?

Also it seems that only some floats are converted to IEEE. So who knows what the output would look like on a machine without IEEE float point. Some floats would be IEEE and many wo

[2022-08-02 14:08] edwardhartnett commented on #283
What happens, of course, is that the bytes are copied as if they had been C cast. The following test code from test_gbytec.F90 demonstrates the way this happens, and also how to avoid the error with the Fortran transfer() intrinsic.

[code]

[2022-08-02 14:25] #283 closed, assigned to edwardhartnett

[2022-08-02 14:25] #284 closed, assigned to edwardhartnett

[2022-08-02 15:04] DusanJovic-NOAA commented on #287
If I remember correctly all floating-point values encoded in grib message must be ieee. Which floats are not converted to ieee?

[2022-08-02 15:28] edwardhartnett commented on #287
Well above is a list of all places that mkieee is called in the library.

Most of them seem to be just converting one value, not an array. Only in specpack does an array get converted.

For example in pngpack.F90 we pack an array into our message:

`     call g2_sbytesc(ctemp, ifld, 0, nbits, 0, ndpts)
`
The contents of this pack are never run through mkieee(). If this were to run on a non-IEEE ma

[2022-08-02 15:41] DusanJovic-NOAA commented on #287
In this specific call none of the argumens is floating point, `ifld` is integer.

I assume in the past this library was used on non-ieee architecture.

[2022-08-15 20:56] aerorahul opened #288 "file name collision in tests"
https://github.com/NOAA-EMC/NCEPLIBS-g2/pull/279 renamed all files from `.f90` to `.F90`
This PR also introduced the [test_ixgb2.F90](https://github.com/NOAA-EMC/NCEPLIBS-g2/blob/develop/tests/test_ixgb2.F90). However, the repo already had [test_ixgb2.f90](https://github.com/NOAA-EMC/NCEPLIBS-g2/blob/develop/tests/test_ixgb2.f90) and was missed.
`test_ixgb2.f90` was introduced in https://github.co

[2022-08-15 21:48] #288 closed, assigned to edwardhartnett, Hang-Lei-NOAA

[2022-08-16 12:38] edwardhartnett opened #290 "Add call to g2c_set_log_level() so fortran programs can turn on logging"
Add call to g2c_set_log_level() so fortran programs can turn on logging

[2022-08-16 13:04] edwardhartnett opened #292 "Can a fortran program (without -fdefault-real-8) call libg2_d using doubles?"
Or do all callers of the _d library have to also use -fdefault-real-8?

[2022-08-16 13:17] edwardhartnett commented on #23
I see that two different issues have become mixed up in this discussion (by me):
1 - do we combine the g2 and g2c repos?
2 - should the g2 library call the g2c library when possible, instead of implementing code?

For 1, the answer is we will not combine the g2 and g2c repos. There are significant users of the g2c library without g2, so it makes sense to keep C and Fortran separate.

For 2, the an

[2022-08-19 15:14] #290 closed, assigned to edwardhartnett

[2022-08-19 15:14] #169 closed, assigned to edwardhartnett

[2022-08-19 15:14] #236 closed, assigned to edwardhartnett

[2022-09-02 12:05] edwardhartnett commented on #274
OK, I need to do this release to fix the grib_util CI system to work with the new dependency on g2c.

[2022-09-02 12:09] edwardhartnett commented on #132
Closing this issue before release 3.5.0. Many good changes have been made to documentation in this release...

[2022-09-02 12:09] #132 closed, assigned to edwardhartnett, Hang-Lei-NOAA, BrianCurtis-NOAA

[2022-09-02 12:10] edwardhartnett commented on #26
I'm closing this issue for the 3.5.0 release. We made lots of progress with testing in this release!

[2022-09-02 12:10] #26 closed, assigned to edwardhartnett, Hang-Lei-NOAA

[2022-09-02 13:05] #198 closed, assigned to edwardhartnett

[2022-09-02 13:08] edwardhartnett commented on #274
I have done the release. Onward to the next version!

[2022-09-03 12:24] edwardhartnett opened #295 "combine grib_util with this repo"
Seems like we can move the grib utilities in with g2.

We can add an option ENABLE_UTILITIES=OFF for those who want to build g2 without the utils.

Since grib_util depends on g2 already, this will mean the same software gets built, but with one less repo, build system, and dependency.

@Hang-Lei-NOAA @BoiVuong-NOAA @DusanJovic-NOAA comments welcome.

[2022-09-03 12:24] edwardhartnett opened #296 "combine grib_util with this repo"
Seems like we can move the grib utilities in with g2.

We can add an option ENABLE_UTILITIES=OFF for those who want to build g2 without the utils.

Since grib_util depends on g2 already, this will mean the same software gets built, but with one less repo, build system, and dependency.

@Hang-Lei-NOAA @BoiVuong-NOAA @DusanJovic-NOAA comments welcome.

[2022-09-03 12:40] edwardhartnett commented on #274
Well I did the release and thought I was good to go.

Then I tried to use the release in grib_util and everything failed horribly.

So I pulled back the release and am now doing more testing to figure out if the problem is in g2 or grib_util, and how to solve it.

It would actually be more convenient for grib_util to be part of g2 so that the tests are always run together. See #296

[2022-09-03 13:26] edwardhartnett opened #297 "jpcpack()/jpcunpack() cannot return error codes"
I'm not sure what to do about this, but it's a big problem.

jpcpack()/jpcunpack() (and probably other packing/unpacking functions) do not return any sort of error code. They rely entirely on printed error messages.

Yikes!

This is a problem for automated testing. The code runs, prints the error message, and returns. This looks like success to the testing code. It does not read the output!

One w

[2022-09-03 13:37] edwardhartnett opened #298 "problems with .github/workflows/gnu_bacio-2.4.1.yml #828"
I'm getting an invalid YML, but also showing that tests pass. WTF?

See https://github.com/NOAA-EMC/NCEPLIBS-g2/actions/runs/2984295278

[2022-09-04 15:39] Hang-Lei-NOAA commented on #296
I think this is a good plan. Previously, we moved nemsi_utils into nemsio library

[2022-09-04 21:37] edwardhartnett opened #299 "CMake option -DBUILD_4=OFF fails"
Trying to build like this:

` cmake -DCMAKE_PREFIX_PATH="/usr/local/jasper-3.0.3;/usr/local/NCEPLIBS-g2c;/usr/local/NCEPLIBS-bacio-2.5.0;/usr/local/NCEPLIBS-w3emc-2.9.2" -DCMAKE_BUILD_TYPE=Debug -DBUILD_4=OFF .. && make VERBOSE=1 && make test
`
Fails like this:

[code]

[2022-09-04 21:39] edwardhartnett opened #300 "CMake option -DBUILD_D=OFF causes build to fail"
Trying to build like this:

`cmake -DCMAKE_PREFIX_PATH="/usr/local/jasper-3.0.3;/usr/local/NCEPLIBS-g2c;/usr/local/NCEPLIBS-bacio-2.5.0;/usr/local/NCEPLIBS-w3emc-2.9.2" -DCMAKE_BUILD_TYPE=Debug -DBUILD_D=OFF .. && make VERBOSE=1 && make test`

Fails like this:

[code]

[2022-09-04 21:41] edwardhartnett opened #301 "CI needs to test options BUILD_D and BUILD_4"
These are not working and not tested.

[2022-09-04 22:57] edwardhartnett opened #303 "all tests should run with both _d and _4 version of the library"
all tests should run with both _d and _4 version of the library

[2022-09-05 18:05] edwardhartnett opened #304 "addfield() calls mkieee() with parameter that is real(8) in _d builds, but mkieee() expects real(4) always"
The code in mkieee() includes:

[code]
Note that both real array parameters are kind=4.

When we build the _d version of the library (on GNU) we use an extra compiler flag:

 `set(fortran_d_flags "-fdefault-real-8")
`

From the documentation we see that this flag does not affect variables which explicitly declare their kind:

So in mkieee() the a and rieee parameters must always be real(4).

But w

[2022-09-06 11:02] #301 closed, assigned to edwardhartnett

[2022-09-06 11:02] #299 closed, assigned to edwardhartnett

[2022-09-06 11:02] #300 closed, assigned to edwardhartnett

[2022-09-06 11:02] #303 closed, assigned to edwardhartnett

[2022-09-06 11:02] #304 closed, assigned to edwardhartnett

[2022-09-06 12:46] DusanJovic-NOAA commented on #296
grib_util repository contains programs that do not depend on g2, wgrib for example. It does not even deal with grib2 format. I do not see a reason why would wgrib be in g2 repo at all. This repo should be just a grib2 decoding/encoding library nothing else, in my opinion. I hope we do not turn this repo into a collection of random programs that process grib messages.

[2022-09-06 16:04] #295 closed, assigned to edwardhartnett

[2022-09-06 17:29] edwardhartnett commented on #274
OK I've resolved the problems that showed up in grib_util, and the fix will be merged in #294 .

Before I do I release I also need to fix #297

[2022-09-06 17:33] edwardhartnett opened #306 "Calling C incorrectly for jpcpack()/jpcunpack() and pngpack()/pngunpack()"
The g2 library is now calling the C library for these functions, but not correctly. I have a fix.

[2022-09-09 13:20] #298 closed, assigned to edwardhartnett

[2022-09-09 13:20] #306 closed, assigned to edwardhartnett

[2022-09-18 12:28] edwardhartnett opened #307 "need params as csv output file, add a test to produce one"
For some work on g2c I need the list of params to be available as a CSV file.

I will add a test which produces one and uses it to check all values for the parameter table.

[2022-09-19 00:08] edwardhartnett opened #309 "some params with identical values for g2_discipline g2_category g2_parameter but different abbreviations"
In params.F90 we have:

`  data paramlist(1002) /gribparam(255, 255, 10, 3, 200, 'TWLDT')/
`
and

`  data paramlist(404) /gribparam(128, 194, 10, 3, 200, 'SSST')/
`
When I call the function:

`  abbrev = param_get_abbrev(10, 3, 200)
`
I always get the first abbrev. There's no way to get the second one. Seems like this must be a bug...

Also:

[code]
These parameters have all the same numbers! How

[2022-09-19 00:55] edwardhartnett opened #310 "how can there be so many parameters with grib1 version/parameter 255/255?"
We have:

[code]

Since the grib1 parameter and version are both the same (255) for all of these, how can this function work:

`  subroutine param_g1_to_g2(g1val, g1ver, g2disc, g2cat, g2num)
`

[2022-09-19 01:01] edwardhartnett opened #311 "parameters with duplicate g1 numbers"
We have:

[code]

These are duplicate grib1 numbers. What's up?

[2022-09-19 12:22] BoiVuong-NOAA commented on #309
I forgot to change parameters when I added these parameters.
data paramlist(900) /gribparam(255, 255, 2, 3, 23, 'LWSNWP')/
  data paramlist(901) /gribparam(255, 255, 2, 3, 24, 'FRSTINX')/
  data paramlist(902) /gribparam(255, 255, 2, 3, 25, 'SNWDEB')/
  data paramlist(903) /gribparam(255, 255, 2, 3, 26, 'SHFLX')/
  data paramlist(904) /gribparam(255, 255, 2, 3, 27, 'SOILDEP')/

[2022-09-19 12:27] BoiVuong-NOAA commented on #309
This line data paramlist(1002) /gribparam(255, 255, 10, 3, 200, 'TWLDT')/
should be
data paramlist(1002) /gribparam(255, 255, 10, 3, 209, 'TWLDT')/

[2022-09-19 12:30] BoiVuong-NOAA commented on #311
I do not see any duplicate grib1 number
data paramlist(1016) /gribparam(129, 240, 0, 16, 3, 'RETOP')/
 data paramlist(1017) /gribparam(2, 234, 1, 0, 5, 'BGRUN')/
 data paramlist(1018) /gribparam(2, 235, 1, 0, 6, 'SSRUN')/
 ! Added 06/12/2020
 data paramlist(1019) /gribparam(130, 160, 2, 3, 5, 'SOILL')/

[2022-09-19 12:33] BoiVuong-NOAA commented on #310
That mean, These number will not convert to grib1 and treat them as "unknown"

[2022-09-19 12:44] BoiVuong-NOAA commented on #311
The reason for these duplicate grib1 numbers.  Because some developers used it in local define table  and WMO standard) WMO approved) in grib2 table.
Example:  SSRUN has entry in two tables: 1,0,6 (WMO approved)  and 1,0,193 (user local define)

[2022-09-19 12:47] edwardhartnett commented on #311
I should have been more clear. These GRIB1 numbers are duplicated at other places in the file.

[code]

For example, the first set of numbers, 129, 240, also appears here:

`  data paramlist(704) /gribparam(129, 240, 0, 16, 197, 'RETOP')/
`

[2022-09-19 12:48] edwardhartnett commented on #311
I should have been more clear. These GRIB1 numbers are duplicated at other places in the file.

[code]

For example, the first set of numbers, 129, 240, also appears here:

`  data paramlist(704) /gribparam(129, 240, 0, 16, 197, 'RETOP')/
`

[2022-09-19 12:52] edwardhartnett commented on #311
@BoiVuong-NOAA so then it's OK for duplicate GRIB1 numbers to exists.

Multiple parameters can be be indicated by the same GRIB1 numbers.

However, when looking up the parameter, only the first one will be found. So even if the user intends to mean:

`data paramlist(1016) /gribparam(129, 240, 0, 16, 3, 'RETOP')
`
The library will think he means:

`data paramlist(704) /gribparam(129, 240, 0, 16, 19

[2022-09-19 12:53] BoiVuong-NOAA commented on #311
The developer used "RETOP" in "user local define" for developing at the time this parameter e.g., RETOP was not approved by WMO.    After that, We received an approval from WMO (may be couple months or a year)

[2022-09-19 12:54] edwardhartnett commented on #310
OK, I will document this, thanks.

[2022-09-19 12:55] edwardhartnett commented on #311
Which one is which? THat is, which of the two RETOPs is the locally-defined one, and which is the WMO-defined one?

[2022-09-19 12:56] edwardhartnett commented on #309
OK, so should we change:
[code]

[2022-09-19 12:57] edwardhartnett commented on #309
Also should we fix TWLDT?

Won't that break any existing data files using this parameter?

[2022-09-19 12:57] BoiVuong-NOAA commented on #311
Yes, You are correct.  The locally-defined one has a number larger than 192 (e.g, 193, 194,...) and
the WMO-defined one has a number from 00 - 191.

[2022-09-19 13:00] BoiVuong-NOAA commented on #309
It will not break any existing data. I think we can leave it alone.

[2022-09-19 13:12] #307 closed, assigned to edwardhartnett

[2022-09-19 13:15] edwardhartnett opened #312 "parameter TWLDT has wrong parameter number, 200 should be 209"
From @BoiVuong-NOAA in #309

So should this be fixed? If not, why not?

[2022-09-19 13:17] edwardhartnett commented on #309
I have opened a separate issue for TWLDT.

Should we or should we not change the GRIB1 numbers on these parameters:

[code]

which you said you forgot to do when you added them.

If we should not fix this, why not?

[2022-09-19 13:19] edwardhartnett commented on #311
OK, but since the list is searched from the beginning to end:

[code]

So if a user calls param_g1_to_g2() on the GRIB1 numbers 120, 240, they will get the first RETOP, which is:

data paramlist(704) /gribparam(129, 240, 0, 16, 197, 'RETOP')

In other words, they will get the locally defined GRIB2 parameter. Don't we want them to instead get the WMO-defined one?

[2022-09-19 13:20] BoiVuong-NOAA commented on #312
It does not matter if we fix it or not,  Because both 209 or 200 for  "TWLDT" still treat it as an Unknown in grib1 if  someone wants to convert from grib2 to grib1.   We can wait to see any complaints about it.  So far, I have not received any issues with this parameter for 3 or 4 years.

[2022-09-19 13:21] BoiVuong-NOAA commented on #309
Yes, It was my mistake.  You can fix it if you have a chance to do it.

[2022-09-19 13:27] BoiVuong-NOAA commented on #311
The purpose of params.f file is for conversion from grib2 to grib1.  The search routine will not get the second one once it found the first one.     They will get locally defined GRIB2 parameter.

[2022-09-19 13:35] edwardhartnett commented on #311
OK so we agree that the search routine will find the locally-defined GRIB2 parameter.

But is that what should happen? Don't we want the routine to instead find the WMO parameter, which would be more generally understood, instead of the locally-defined parameter, which will only be understood within NOAA?

[2022-09-19 13:35] edwardhartnett commented on #309
OK, what should it be instead?

[2022-09-19 13:38] edwardhartnett commented on #312
OK so this will not matter when converting from GRIB2 to GRIB1.

But it will still matter when do a degrib2 right? Because it someone used 10, 3, 209 to mean TWLDT, we would not interpret that correctly.

[2022-09-19 13:42] BoiVuong-NOAA commented on #311
The  WMO-defined one is only be understood within NOAA in GRIB2.    If some one wants to convert from grib2 to grib1, then the grib1 still give them a correct one in grib1.

[2022-09-19 13:43] BoiVuong-NOAA commented on #309
These are correct one.
data paramlist(901) /gribparam(255, 255, 2, 3, 24, 'FRSTINX')/
data paramlist(902) /gribparam(255, 255, 2, 3, 25, 'SNWDEB')/
data paramlist(903) /gribparam(255, 255, 2, 3, 26, 'SHFLX')/
data paramlist(904) /gribparam(255, 255, 2, 3, 27, 'SOILDEP')/

[2022-09-19 13:46] edwardhartnett commented on #309
That is what we already have.

What am I missing?

[2022-09-19 13:47] edwardhartnett commented on #311
Why would the WMO one only be understood within NOAA?

The WMO one will also be understood by ECMWF right?

[2022-09-19 13:50] BoiVuong-NOAA commented on #312
Yes, You are right. It will not show correctly in degrib2.

[2022-09-19 13:52] BoiVuong-NOAA commented on #309
I do not think any of missing that you may be omitted.  You need to make sure it match to what we have in GRIB2 tables.

[2022-09-19 14:02] BoiVuong-NOAA commented on #311
Why would the WMO one only be understood within NOAA ?    Because our developer uses in our NCEP WMO for all developing works  in AWIPS products. Once the AWIPS products go in operational, we will a hard time to change it when we received an official WMO.
You are right. The WMO one will also be understood by ECMWF right.  I do not ECMWF has a locally define or not.

[2022-09-19 14:22] edwardhartnett commented on #311
OK, so even if we wanted to change from the locally-defined one to the WMO one, that would not work because of AWIPS?

Who develops the AWIPS products at NOAA?

[2022-09-19 14:23] edwardhartnett commented on #312
OK, so I will fix this and change the parameter  number from 200 to 209.

[2022-09-19 15:53] BoiVuong-NOAA commented on #311
I do not know all of them. I know GFS  who is Andrew POC after my retirement date.  But, you can send a message out or the best way is to contact NCO to let them know you are going to make some changes in parameters in GRIB2 filess.   Note: AWIPS products require a notice or TIN for 30-days or 90-days for any changes in AWIPS.

[2022-09-19 16:23] edwardhartnett commented on #311
OK thanks. I will try to avoid making work for AWIPS for sure!

This notice is only required for GRIB1 changes parameter changes right?

[2022-09-19 16:31] BoiVuong-NOAA commented on #311
The notice requires for any changes in production ( not only in grib1 or grib2).   For AWIPS, the notice needs for 30-days or 90-days for any changes in AWIPS products.   Note: The AWIPS products now are only in GRIB2.  If there some AWIPS products which need to use in grib1.  They need to use grib_util conversion program (cnvgrib).

[2022-09-20 19:37] edwardhartnett opened #314 "parameter abbreviation MSLSA can never be found because it shares G2 numbers with PRMSL which comes first in the array"
We have:

`  data paramlist(2) /gribparam(2, 2, 0, 3, 1, 'PRMSL')/
`
and

`  data paramlist(238) /gribparam(2, 128, 0, 3, 1, 'MSLSA')/
`

Note that the GRIB2 discipline, category, and number are the same for both of these.

Since the parameter lookup subroutine starts at the beginning of the list, and returns the first abbreviation with matching G2 numbers, the MSLSA abbreviation can never be retu

[2022-09-20 19:57] BoiVuong-NOAA commented on #314
In the past, some user used PRMSL or MSLSA in grib1.  Then, they converted to grib2 and these parameters were in same "0,3,1".
Now, You can combine into one or leave it alone.

[2022-09-20 19:59] edwardhartnett commented on #314
OK I think it's best to leave it. I will document this...

[2022-09-20 21:16] #312 closed, assigned to edwardhartnett, BoiVuong-NOAA

[2022-10-09 16:56] edwardhartnett opened #315 "problem with jpcpack"
As indicated in closed PR #194 there is a problem with jpcpack.

Part of the problem is that the lcpack parameter is incorrectly documented:

!> @param[out] lcpack length of packed field cpack.

It should be an in/out which is set to the length of cbuf.

But there is another problem as well...

[2022-10-10 13:04] edwardhartnett opened #317 "Turn off duplicate CI builds"
See https://github.com/orgs/community/discussions/26276 for a discussion.

I am trying:

[code]

[2022-10-10 20:35] edwardhartnett commented on #195
This was caused by two uninitualized values, lcgrib and idrstmpl(7).

So those two values were getting random values which (I speculate) sometimes caused memory issues.

Once I set those, this problem goes away.

Incidentally, the warnings from jasper go away when using jasper-3.x.x.

[2022-10-10 20:37] edwardhartnett commented on #296
I will close this issue and ponder.

A better way may be to re implement these utils in the g2c library and let the grib_util repo fade away.

[2022-10-11 13:56] #315 closed, assigned to edwardhartnett

[2022-10-11 13:56] #317 closed, assigned to edwardhartnett

[2022-10-11 13:56] #195 closed, assigned to nobody

[2022-10-13 14:54] edwardhartnett commented on #296
We will move the GRIB2 Fortran utilities from grib_util to g2. This will allow us to reduce the number of repos in NCEPLIBS, a long-standing goal, and improve testing of the g2 library. (Sometimes a bug shows up in the utility tests, so we should have them with the g2 library.)

Those who wish to build without the utilities may do so. A CMake option will exist for that.

Will this turn the g2 libr

[2022-10-15 14:23] edwardhartnett opened #318 "documentation improvements"
documentation improvements

[2022-10-15 18:04] edwardhartnett opened #320 "Test test_getg2i.F90 does not properly check results, subroutine call is failing but test code does not notice."
Test test_getg2i.F90 does not properly check results, subroutine call is failing but test code does not notice.

[2022-10-15 18:14] edwardhartnett commented on #320
Also the test is attempting to open gdaswave.t00z.wcoast.0p16.f000.grib2.idx, which looks like this:

[code]

I don't know what this is, but it is not the kind of index file produced by grb2index, which I thought was the kind of index file needed here...

[2022-10-17 14:18] #320 closed, assigned to edwardhartnett

[2022-11-08 12:54] edwardhartnett opened #323 "CI breaking with gcc-9 on macos"
Something changes with macos-latest, I guess:

[code]

[2022-11-08 14:37] edwardhartnett commented on #323
Turns out we need to update that to gfortran-12.

macos-latest does not provide a gfortran that points to the latest version, so this problem is going to keep happening...

[2022-11-09 16:21] #323 closed, assigned to edwardhartnett

[2022-11-20 13:05] edwardhartnett opened #324 "not correctly interpreting negative forecast time"
See https://github.com/NOAA-EMC/NCEPLIBS-grib_util/issues/175

[2022-11-21 17:38] edwardhartnett opened #328 "expose some of the new g2c functions in the C library"
The C library contains some g2c functions, like g2c_open(), which I would like to  use in testing in NCEPLIBS-g2c. For that it would be good to have these functions exposed in the fortran API.

This is related to #23

[2022-11-29 13:46] edwardhartnett opened #329 "more testing"
More testing.

[2022-11-29 14:50] edwardhartnett opened #331 "improve CI system"
* Create a developer build which does FTP testing, address santizer, doxygen build, warning check, code coverage, and Debug build. Turn these settings off in all other builds. Use develop branch of all required NCEPLIBS libraries and the latest version of jasper.
* Create a linux_versions workflow that checks with different versions of dependencies.
* Create a linux_settings workflow that tests di